<div class="dialog-box" data-dlg="dlgCameraRaw">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Camera Raw
		</h2>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<!-- <div class="button" data-click="dlg-reset">Reset</div> -->
		</div>

		<div class="layout">
			<div class="preview"></div>
			<div class="controls">
				<div class="color-channels"></div>

				<div class="field-row">
					<div class="option select" data-options="fieldset-inline-menubox" data-match="//ColorChannels">
						<span class="label">Channel</span>
						<span class="value">Colors</span>
					</div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Tempertature</span>
						<span class="value">
							<input type="text" name="temperature" data-min="-100" data-max="100" value="0" data-default="0"/>
						</span>
					</div>
					<div class="pan-knob" data-change="set-temperature"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Tint</span>
						<span class="value">
							<input type="text" name="tint" data-min="-100" data-max="100" value="0" data-default="0"/>
						</span>
					</div>
					<div class="pan-knob" data-change="set-tint"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Exposure</span>
						<span class="value">
							<input type="text" name="exposure" data-min="-4" data-max="4" value="0" data-default="0"/>
						</span>
					</div>
					<div class="pan-knob" data-change="set-exposure"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Contrast</span>
						<span class="value">
							<input type="text" name="contrast" data-min="-100" data-max="100" value="0" data-default="0"/>
						</span>
					</div>
					<div class="pan-knob" data-change="set-contrast"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Vibrance</span>
						<span class="value">
							<input type="text" name="vibrance" data-min="-100" data-max="100" value="0" data-default="0"/>
						</span>
					</div>
					<div class="pan-knob" data-change="set-vibrance"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Saturation</span>
						<span class="value">
							<input type="text" name="saturation" data-min="-100" data-max="100" value="0" data-default="0"/>
						</span>
					</div>
					<div class="pan-knob" data-change="set-saturation"></div>
				</div>

			</div>
		</div>
	</div>
</div>
