<div class="dialog-box" data-dlg="dlgFilterGallery">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Filter Gallery
		</h2>
		
		<div class="layout">
			<div class="preview">
				
			</div>
			<div class="active-filters">
				<!-- <div class="button" data-click="dlg-ok">OK</div> -->

				<div class="filter-row">
					<i class="icon-arrow" data-click="toggle-filter-row"></i>
					<span class="filter" data-filter="Colored Pencil" data-click="show-filter-options"></span>
					<span class="action-icons">
						<i class="icon-eye-on" data-click="toggle-filter"></i>
						<i class="icon-trashcan" data-click="remove-filter"></i>
					</span>
				</div>

				<div class="filter-row expanded">
					<i class="icon-arrow" data-click="toggle-filter-row"></i>
					<span class="filter" data-filter="Cutout" data-click="show-filter-options"></span>
					<span class="action-icons">
						<i class="icon-eye-off" data-click="toggle-filter"></i>
						<i class="icon-trashcan" data-click="remove-filter"></i>
					</span>
				</div>

				<div class="filter-row">
					<i class="icon-arrow" data-click="toggle-filter-row"></i>
					<span class="filter" data-filter="Halftone Pattern" data-click="show-filter-options"></span>
					<span class="action-icons">
						<i class="icon-eye-on" data-click="toggle-filter"></i>
						<i class="icon-trashcan" data-click="remove-filter"></i>
					</span>
				</div>

				<!-- <div class="field-row has-knob">
					<div class="option input">
						<span class="label">Cell Size</span>
						<span class="value"><input type="text" name="size" value="12" data-min="5" data-max="70" data-default="10"></span>
					</div>
					<div class="knob" data-change="set-size"></div>
				</div> -->
			</div>
		</div>

		<div class="bubble-options">
			<div class="bubble-content" data-click="select-filter">
				<fieldset>
					<legend>Artistic</legend>
					<div data-filter="Colored Pencil"></div>
					<div data-filter="Cutout"></div>
					<div data-filter="Dry Brush"></div>
					<div data-filter="Film Grain"></div>
					<div data-filter="Fresco"></div>
					<div data-filter="Neon Glow"></div>
					<div data-filter="Paint Daubs"></div>
					<div data-filter="Palette Knife"></div>
					<div data-filter="Plastic Wrap"></div>
					<div data-filter="Poster Edges"></div>
					<div data-filter="Rough Pastels"></div>
					<div data-filter="Smudge Stick"></div>
					<div data-filter="Sponge"></div>
					<div data-filter="Underpainting"></div>
					<div data-filter="Watercolor"></div>
				</fieldset>
				
				<fieldset>
					<legend>Brush Strokes</legend>
					<div data-filter="Accented Edges"></div>
					<div data-filter="Angled Strokes"></div>
					<div data-filter="Crosshatch"></div>
					<div data-filter="Dark Strokes"></div>
					<div data-filter="Ink Outlines"></div>
					<div data-filter="Spatter"></div>
					<div data-filter="Sprayed Strokes"></div>
					<div data-filter="Sumi-e"></div>
				</fieldset>
				
				<fieldset>
					<legend>Distort</legend>
					<div data-filter="Diffuse Glow"></div>
					<div data-filter="Glass"></div>
					<div data-filter="Ocean Ripple"></div>
				</fieldset>
				
				<fieldset>
					<legend>Sketch</legend>
					<div data-filter="Bas Relief"></div>
					<div data-filter="Chalk &amp; Charcoal"></div>
					<div data-filter="Charcoal"></div>
					<div data-filter="Chrome"></div>
					<div data-filter="Contè Crayon"></div>
					<div data-filter="Graphic Pen"></div>
					<div data-filter="Halftone Pattern"></div>
					<div data-filter="Note Paper"></div>
					<div data-filter="Photocopy"></div>
					<div data-filter="Plaster"></div>
					<div data-filter="Reticulation"></div>
					<div data-filter="Stamp"></div>
					<div data-filter="Torn Edges"></div>
					<div data-filter="Water Paper"></div>
				</fieldset>
				
				<fieldset>
					<legend>Stylize</legend>
					<div data-filter="Glowing Edges"></div>
				</fieldset>
				
				<fieldset>
					<legend>Texture</legend>
					<div data-filter="Craquelure"></div>
					<div data-filter="Grain"></div>
					<div data-filter="Mosaic Tiles"></div>
					<div data-filter="Patch Work"></div>
					<div data-filter="Stained Glass"></div>
					<div data-filter="Texturizer"></div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
