<div class="dialog-box" data-dlg="dlgFilterGallery">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Filter Gallery
		</h2>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
		</div>
		
		<div class="layout">
			<div class="preview">
				<div class="zoom-level">
					<span data-click="preview-zoom-out"></span>
					<span class="preview-zoom-value">100%</span>
					<span data-click="preview-zoom-in"></span>
				</div>
			</div>
			<div class="active-filters one-left">
				<!-- <div class="filter-row">
					<div class="filter-head">
						<span class="arrow" data-click="toggle-filter-row">
							<i class="icon-arrow"></i>
						</span>
						<span class="filter" data-filter="Rough Pastels" data-click="show-filter-options"></span>
						<span class="action-icons">
							<i class="icon-eye-on" data-click="toggle-filter"></i>
							<i class="icon-trashcan" data-click="remove-filter"></i>
						</span>
					</div>
					<div class="filter-body"></div>
				</div>

				<div class="filter-row">
					<div class="filter-head">
						<span class="arrow" data-click="toggle-filter-row">
							<i class="icon-arrow"></i>
						</span>
						<span class="filter" data-filter="Cutout" data-click="show-filter-options"></span>
						<span class="action-icons">
							<i class="icon-eye-off" data-click="toggle-filter"></i>
							<i class="icon-trashcan" data-click="remove-filter"></i>
						</span>
					</div>
					<div class="filter-body"></div>
				</div>

				<div class="filter-row">
					<div class="filter-head">
						<span class="arrow" data-click="toggle-filter-row">
							<i class="icon-arrow"></i>
						</span>
						<span class="filter" data-filter="Neon Glow" data-click="show-filter-options"></span>
						<span class="action-icons">
							<i class="icon-eye-on" data-click="toggle-filter"></i>
							<i class="icon-trashcan" data-click="remove-filter"></i>
						</span>
					</div>
					<div class="filter-body"></div>
				</div> -->

				<!-- add more filters -->
				<div class="add-filter" data-click="add-filter">
					<i class="icon-add-filter"></i>
					Add Filter
				</div>
			</div>
		</div>

		<div class="bubble-options">
			<div class="bubble-content" data-click="select-filter">
				<!-- filter gallery list goes here -->
			</div>
		</div>
	</div>
</div>
