<div class="dialog-box" data-dlg="dlgLiquify">
	<div class="dlg-content">
		<h2>
			<i class="icon-dlg-close" data-click="dlg-close"></i>
			Liquify
		</h2>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
		</div>

		<div class="layout">
			<div class="preview">
				<div class="zoom-level">
					<span data-click="preview-zoom-out"></span>
					<span class="preview-zoom-value">100%</span>
					<span data-click="preview-zoom-in"></span>
				</div>
			</div>
			<div class="tools" data-click="select-liquify-tool">
				<span class="tool tool-liquify-smudge active" title="Smudge"></span>
				<span class="tool tool-reconstruct" title="Reconstruct"></span>
				<span class="tool tool-smoothen" title="Smoothen"></span>
				<span class="tool tool-twirl" title="Twirl"></span>
				<span class="tool tool-shrink" title="Shrink"></span>
				<span class="tool tool-blow" title="Blow"></span>
				<span class="tool tool-push" title="Push Left"></span>
				<span class="tool tool-hand" title="Pan"></span>
			</div>
			<div class="controls">

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Size</span>
						<span class="value">
							<input type="text" name="field-1" data-min="1" data-max="1000" value="70" data-default="70"/>
						</span>
					</div>
					<div class="knob" data-value="70"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Density</span>
						<span class="value">
							<input type="text" name="field-1" data-min="1" data-max="1000" value="70" data-default="70"/>
						</span>
					</div>
					<div class="knob" data-value="70"></div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Rate</span>
						<span class="value">
							<input type="text" name="field-1" data-min="1" data-max="1000" value="70" data-default="70"/>
						</span>
					</div>
					<div class="knob" data-value="70"></div>
				</div>

				<div class="field-row">
					<div class="option push-value">
						<span class="label"></span>
						<div class="toggler" data-value="on">
							<span>Background</span>
						</div>
					</div>
				</div>

				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Opacity</span>
						<span class="value">
							<input type="text" name="field-1" data-min="0" data-max="100" value="100%" data-default="100%" data-suffix="%"/>
						</span>
					</div>
					<div class="knob" data-value="100"></div>
				</div>
				
			</div>
		</div>
	</div>
</div>
