<div class="dialog-box" data-dlg="dlgContourEditor">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Contour Editor
			</h2>

			<div class="graph"></div>

			<div class="field-row has-toggler">
				<div class="toggler" data-value="on">
					<span>Smooth</span>
				</div>
			</div>

			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Input</span>
					<span class="value">
						<input type="text" name="field-1" data-min="0" data-max="1000" value="51%" data-suffix="%"/>
					</span>
				</div>
				<div class="knob" data-value="51"></div>
			</div>
			
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Output</span>
					<span class="value">
						<input type="text" name="field-2" data-min="0" data-max="1000" value="67%" data-suffix="%"/>
					</span>
				</div>
				<div class="knob" data-value="67"></div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
		</div>
	</div>
</div>
