<div class="dialog-box" data-dlg="dlgDuplicateInfo">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Duplicate Into
			</h2>

			<div class="field-row">
				<div class="option select" data-options="fieldset-inline-menubox" data-match="//Custom">
					<span class="label">Destination</span>
					<span class="value">girl.psd</span>
				</div>
			</div>

			<div class="field-row">
				<div class="option select disabled" data-options="fieldset-inline-menubox" data-match="//Custom">
					<span class="label">Artboard</span>
					<span class="value">girl.psd</span>
				</div>
			</div>
			
			<div class="field-row">
				<div class="option input no-select">
					<span class="label">Name</span>
					<span class="value">
						<input type="text" name="canvas-width" value="Background"/>
					</span>
				</div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
		</div>
	</div>
</div>
