<div class="dialog-box" data-dlg="dlgLayerStyle">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Layer Style
			</h2>
			<div class="options">
				<div class="style-list">
					<!-- style list goes here -->
				</div>
				<div class="style-details">
					<!-- style details goes here -->
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="define-new">Define New</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
