<div class="dialog-box" data-dlg="dlgLayerStyle">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Layer Style
			</h2>
			<div class="options">
				<div class="style-list" data-click="selected-style-item">
					<!-- style list goes here -->
				</div>
				<div class="style-details">
					<!-- style details goes here -->
					<h3>Blending Options</h3>

					<fieldset>
						<h4>General Blending</h4>
						<div class="field-row">
							<div class="option select" data-arg="blend" data-change="change-blend-mode" data-options="blend-modes" data-match="//BlendModes">
								<span class="label">Blend Mode</span>
								<span class="value">Normal</span>
							</div>
						</div>
						<div class="field-row has-knob">
							<div class="option input">
								<span class="label">Opacity</span>
								<span class="value">
									<input type="text" name="field-1" data-min="1" data-max="100" value="100%" data-suffix="%"/>
								</span>
							</div>
							<div class="knob" data-change="set-filter-value" data-value="100"></div>
						</div>
					</fieldset>

					<fieldset>
						<h4>Advanced Blending</h4>
						<div class="field-row has-knob">
							<div class="option input">
								<span class="label">Fill</span>
								<span class="value">
									<input type="text" name="field-1" data-min="1" data-max="100" value="100%" data-suffix="%">
								</span>
							</div>
							<div class="knob" data-change="set-filter-value" data-value="100"></div>
						</div>
						<div class="field-row">
							<div class="option opt-group">
								<span class="label">Channels</span>
								<span class="value">
									<ul class="opt-group">
										<li data-id="prst-1">R</li>
										<li data-id="prst-2">G</li>
										<li data-id="prst-3">B</li>
									</ul>
								</span>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<h4>
							Blend If
							<span class="inline-menu" data-arg="blend-if" data-change="change-blend-if" data-options="blend-modes" data-match="//BlendIf">Gray</span>
						</h4>
						<div class="field-row has-dbl-range">
							<div class="option dbl-range">
								<span class="label">This Layer</span>
								<span class="value">
									<span class="low">
										<span class="min">0</span>
										/
										<span class="max">0</span>
									</span>
									<span class="high">
										<span class="min">255</span>
										/
										<span class="max">255</span>
									</span>
								</span>
							</div>
							<div class="dbl-slider">
								<span class="low" data-ux="r-handle">
									<span class="min" data-ux="r-min"></span>
									<span class="max" data-ux="r-max"></span>
								</span>
								<span class="high" data-ux="r-handle">
									<span class="min" data-ux="r-min"></span>
									<span class="max" data-ux="r-max"></span>
								</span>
							</div>
						</div>

						<div class="field-row has-dbl-range">
							<div class="option dbl-range">
								<span class="label">Underlying Layer</span>
								<span class="value">
									<span class="low">
										<span class="min">0</span>
										/
										<span class="max">0</span>
									</span>
									<span class="high">
										<span class="min">255</span>
										/
										<span class="max">255</span>
									</span>
								</span>
							</div>
							<div class="dbl-slider red">
								<span class="low" data-ux="r-handle">
									<span class="min" data-ux="r-min"></span>
									<span class="max" data-ux="r-max"></span>
								</span>
								<span class="high" data-ux="r-handle">
									<span class="min" data-ux="r-min"></span>
									<span class="max" data-ux="r-max"></span>
								</span>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="define-new">Define New</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
