<div class="dialog-box" data-dlg="dlgLayerStyle">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Layer Style
			</h2>
			<div class="options">
				<div class="style-list" data-click="selected-style-item">
					<!-- style list goes here -->
				</div>
				<div class="style-details">
					<!-- style details goes here -->
					@import "./style-fields/blending-options.htm"
					@import "./style-fields/bevel-emboss.htm"
					@import "./style-fields/contour.htm"
					@import "./style-fields/texture.htm"
					@import "./style-fields/stroke.htm"
					@import "./style-fields/inner-shadow.htm"
					@import "./style-fields/inner-glow.htm"
					@import "./style-fields/satin.htm"
					@import "./style-fields/color-overlay.htm"
					@import "./style-fields/gradient-overlay.htm"
					@import "./style-fields/pattern-overlay.htm"
					@import "./style-fields/outer-glow.htm"
					@import "./style-fields/drop-shadow.htm"
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="define-new">Define New</div>

			<!-- preview box goes here -->
			<div class="preview-box">
				<canvas></canvas>
			</div>

			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
