<div class="dialog-box" data-dlg="dlgLayerPanelOptions">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Layer Panel Options
			</h2>

			<div class="field-row">
				<div class="option opt-group">
					<span class="label">Thumbnail</span>
					<span class="value">
						<ul class="opt-group">
							<li class="active">Layer</li>
							<li>Document</li>
						</ul>
					</span>
				</div>
			</div>

			<div class="field-row">
				<div class="option select">
					<span class="label">Size</span>
					<span class="value">Medium</span>
				</div>
			</div>

			<div class="field-row has-check-lines">
				<div class="option">
					<span class="label">Options</span>
					<span class="value">
						<span class="option check">
							<span class="value">
								<input type="checkbox" id="check-1">
								<i></i>
							</span>
							<label class="label" for="check-1">Filter</label>
						</span>
						<span class="option check">
							<span class="value">
								<input type="checkbox" id="check-1" checked>
								<i></i>
							</span>
							<label class="label" for="check-1">Blending</label>
						</span>
						<span class="option check">
							<span class="value">
								<input type="checkbox" id="check-1" checked>
								<i></i>
							</span>
							<label class="label" for="check-1">Lock</label>
						</span>
					</span>
				</div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>
