<div class="dialog-box" data-dlg="dlgPresetManager">
	<div class="dlg-content" data-show="Brush">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Preset Manager
			</h2>
			<div class="options">
				<div class="presets" data-click="select-preset-option">
					<div class="option selected">Brush</div>
					<div class="option">Gradient</div>
					<div class="option">Pattern</div>
					<div class="option">Layer Style</div>
					<div class="option">Shapes</div>
					<div class="option">Contour</div>
				</div>
				<div class="preset-details">

					<div class="preset-fields" data-name="Brush">
						<!-- preset list for Brush -->
					</div>

					<div class="preset-fields" data-name="Gradient">
						<!-- preset list for Gradient -->
					</div>

					<div class="preset-fields" data-name="Pattern">
						<!-- preset list for Pattern -->
					</div>

					<div class="preset-fields" data-name="Layer Style">
						<!-- preset list for Layer Style -->
					</div>

					<div class="preset-fields" data-name="Shapes">
						<!-- preset list for Shapes -->
					</div>

					<div class="preset-fields" data-name="Contour">
						<!-- preset list for Contour -->
					</div>

				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>

			<div class="preset-buttons" data-for="Brush">
				<div class="button" data-click="dlg-reset">Load .ABR</div>
				<div class="button" data-click="dlg-reset">Export .ABR</div>
			</div>
			
			<div class="preset-buttons" data-for="Gradient">
				<div class="button" data-click="dlg-reset">Load .GRD</div>
				<div class="button" data-click="dlg-reset">Export .GRD</div>
			</div>
			
			<div class="preset-buttons" data-for="Pattern">
				<div class="button" data-click="dlg-reset">Load .PAT</div>
				<div class="button" data-click="dlg-reset">Export .PAT</div>
			</div>
			
			<div class="preset-buttons" data-for="Layer Style">
				<div class="button" data-click="dlg-reset">Load .ASL</div>
				<div class="button" data-click="dlg-reset">Export .ASL</div>
			</div>
			
			<div class="preset-buttons" data-for="Shapes">
				<div class="button" data-click="dlg-reset">Load .CSH</div>
				<div class="button" data-click="dlg-reset">Export .CSH</div>
			</div>
			
			<div class="preset-buttons" data-for="Contour">
				<div class="button" data-click="dlg-reset">Load .SHC</div>
				<div class="button" data-click="dlg-reset">Export .SHC</div>
			</div>
		</div>
	</div>
</div>
