<div class="dialog-box" data-dlg="dlgPresetManager">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Preset Manager
			</h2>
			<div class="options">
				<div class="presets" data-click="select-preset-option">
					<div class="option">Brush</div>
					<div class="option">Gradient</div>
					<div class="option">Pattern</div>
					<div class="option">Layer Style</div>
					<div class="option">Shapes</div>
					<div class="option">Contour</div>
				</div>
				<div class="preset-details">

					<div class="preset-fields" data-name="Brush">
						<!-- preset list for Brush -->
					</div>

					<div class="preset-fields" data-name="Gradient">
						<!-- preset list for Gradient -->
					</div>

					<div class="preset-fields" data-name="Pattern">
						<!-- preset list for Pattern -->
					</div>

					<div class="preset-fields" data-name="Layer Style">
						<!-- preset list for Layer Style -->
					</div>

					<div class="preset-fields" data-name="Shapes">
						<!-- preset list for Shapes -->
					</div>

					<div class="preset-fields" data-name="Contour">
						<!-- preset list for Contour -->
					</div>

				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>

			<div class="preset-buttons" data-for="Brush" data-arg="abr">
				<div class="button" data-click="dlg-load">Load .ABR</div>
				<div class="button" data-click="dlg-export">Export .ABR</div>
			</div>
			
			<div class="preset-buttons" data-for="Gradient" data-arg="grd">
				<div class="button" data-click="dlg-load">Load .GRD</div>
				<div class="button" data-click="dlg-export">Export .GRD</div>
			</div>
			
			<div class="preset-buttons" data-for="Pattern" data-arg="pat">
				<div class="button" data-click="dlg-load">Load .PAT</div>
				<div class="button" data-click="dlg-export">Export .PAT</div>
			</div>
			
			<div class="preset-buttons" data-for="Layer Style" data-arg="asl">
				<div class="button" data-click="dlg-load">Load .ASL</div>
				<div class="button" data-click="dlg-export">Export .ASL</div>
			</div>
			
			<div class="preset-buttons" data-for="Shapes" data-arg="csh">
				<div class="button" data-click="dlg-load">Load .CSH</div>
				<div class="button" data-click="dlg-export">Export .CSH</div>
			</div>
			
			<div class="preset-buttons" data-for="Contour" data-arg="shc">
				<div class="button" data-click="dlg-load">Load .SHC</div>
				<div class="button" data-click="dlg-export">Export .SHC</div>
			</div>
		</div>
	</div>
</div>
