<div class="dialog-box" data-dlg="dlgQuickMaskOptions">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Quick Mask Options
			</h2>

			<div class="field-row">
				<div class="option opt-group">
					<span class="label">Color Indicates</span>
					<span class="value">
						<ul class="opt-group">
							<li class="active">Masked</li>
							<li>Selected</li>
						</ul>
					</span>
				</div>
			</div>

			<div class="field-row has-preset">
				<div class="option select">
					<span class="label">Color</span>
					<span class="color-preset inline-menu pull" style="--c: #f00;" data-options="swatches" data-match="//Swatches"></span>
				</div>
			</div>

			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Opacity</span>
					<span class="value">
						<input type="text" name="field-3" data-min="0" data-max="100" value="50%" data-suffix="%"/>
					</span>
				</div>
				<div class="knob" data-change="set-opacity"></div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-cancel">Cancel</div>
		</div>
	</div>
</div>
