<div class="dialog-box" data-dlg="dlgWarp">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Warp
			</h2>

			<div class="field-row">
				<div class="option select">
					<span class="label">Style</span>
					<span class="value"></span>
				</div>
			</div>

			<div class="field-row">
				<div class="option select" data-options="fieldset-inline-menubox" data-match="//WarpOrientations">
					<span class="label">Orientation</span>
					<span class="value">Horizontal</span>
				</div>
			</div>

			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Bend</span>
					<span class="value">
						<input type="text" name="size" data-min="0" data-max="100" data-default="0%" value="0%" data-suffix="%">
					</span>
				</div>
				<div class="knob" data-value="0"></div>
			</div>

			<div class="field-row has-knob">
				<div class="option input">
					<span class="label" title="Distortion">Horizontal</span>
					<span class="value">
						<input type="text" name="size" data-min="0" data-max="100" data-default="0%" value="0%" data-suffix="%">
					</span>
				</div>
				<div class="knob" data-value="0"></div>
			</div>

			<div class="field-row has-knob">
				<div class="option input">
					<span class="label" title="Distortion">Vertical</span>
					<span class="value">
						<input type="text" name="size" data-min="0" data-max="100" data-default="0%" value="0%" data-suffix="%">
					</span>
				</div>
				<div class="knob" data-value="0"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
		</div>
	</div>
</div>
