<div class="dialog-box" data-dlg="dlgApplyImage">
	<div class="dlg-content">
		<div class="fields" data-target="0">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Apply Image
			</h2>

			<h3>Source</h3>

			<div class="field-row">
				<div class="option select" data-options="fieldset-inline-menubox" data-match="//CustomMenu">
					<span class="label">Layer</span>
					<span class="value">Copy Merged</span>
				</div>
			</div>

			<div class="field-row">
				<div class="option select" data-options="fieldset-inline-menubox" data-match="//LevelChannels">
					<span class="label">Channel</span>
					<span class="value">RGB</span>
				</div>
			</div>

			<div class="field-row">
				<div class="option">
					<span class="label"></span>
					<div class="toggler" data-value="off" data-name="invert" data-default="off" data-click="toggle-invert">
						<span>Invert</span>
					</div>
				</div>
			</div>

			<h3>
				Target
				<span class="inline-menu" data-change="change-target-mode" data-options="fieldset-inline-menubox" data-match="//ApplyImageTarget">Normal</span>
			</h3>

			<div class="field-row">
				<div class="option select" data-arg="blend" data-change="change-blend-mode" data-options="fieldset-inline-menubox" data-match="//BlendModes">
					<span class="label">Blend Mode</span>
					<span class="value">Normal</span>
				</div>
			</div>

			<div class="field-row has-knob">
				<div class="field-opacity">
					<div class="option input">
						<span class="label">Opacity</span>
						<span class="value"><input type="text" name="color-opacity" disabled value="100%" data-min="0" data-max="100" data-suffix="%"></span>
					</div>
				</div>
				<div class="knob" data-change="set-color-opacity"></div>
			</div>

			<div class="field-row">
				<div class="option">
					<span class="label">Transparency</span>
					<div class="toggler" data-value="off" data-name="transparency" data-default="off" data-click="toggle-transparency">
						<span>Preserve</span>
					</div>
				</div>
			</div>

			<div class="field-row has-knob" data-id="target-scale">
				<div class="field-opacity">
					<div class="option input">
						<span class="label">Scale</span>
						<span class="value"><input type="text" name="color-opacity" data-min="1" data-max="2" value="1" data-default="1" data-step="0.05"></span>
					</div>
				</div>
				<div class="knob" data-value="1"></div>
			</div>

			<div class="field-row has-knob" data-id="target-offset">
				<div class="field-opacity">
					<div class="option input">
						<span class="label">Offset</span>
						<span class="value"><input type="text" name="color-opacity" data-min="-255" data-max="255" value="128" data-default="128"></span>
					</div>
				</div>
				<div class="pan-knob" data-value="128"></div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
