<div class="dialog-box" data-dlg="dlgCanvasSize">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Canvas Size
			</h2>

			<div class="field-row">
				<div class="option select" data-options="fieldset-inline-menubox" data-match="//Units">
					<span class="label">Units</span>
					<span class="value">Pixels</span>
				</div>
			</div>
			
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Width</span>
					<span class="value">
						<input type="text" name="canvas-width" data-min="1" data-max="999" value="100" data-default="100"/>
					</span>
				</div>
				<div class="knob" data-change="set-canvas-width" data-value="100"></div>
			</div>
			
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Height</span>
					<span class="value">
						<input type="text" name="canvas-height" data-min="1" data-max="999" value="100" data-default="100"/>
					</span>
				</div>
				<div class="knob" data-change="set-canvas-height" data-value="100"></div>
			</div>

			<div class="field-row">
				<div class="option has-toggler">
					<span class="label"></span>
					<span class="value">
						<div class="toggler" data-value="on">
							<span>Relative</span>
						</div>
					</span>
				</div>
			</div>

			<div class="field-row has-3x3-grid">
				<div class="option">
					<span class="label">Anchor</span>
					<div class="grid-3x3-input" data-click="set-canvas-resize-anchor">
						<span class="grid-arrow ne"></span>
						<span class="grid-arrow n"></span>
						<span class="grid-arrow nw"></span>
						<span class="grid-arrow e"></span>
						<span class="grid-arrow c"></span>
						<span class="grid-arrow w"></span>
						<span class="grid-arrow se"></span>
						<span class="grid-arrow s"></span>
						<span class="grid-arrow sw"></span>
					</div>
				</div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
		</div>
	</div>
</div>
