<div class="dialog-box" data-dlg="dlgGradientEditor">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Gradient Editor
			</h2>

			<div class="preset-fields">
				<ul class="preset-list">
					<li title="Foreground to Background" data-hash="d694cd76f42e01052cd127a68f62d3244a2674bc"></li>
					<li title="Foreground to Transparent" data-hash="a01a42f9c8d0d77dd4c96b1250d9759677c33c39"></li>
					<li title="Black, White" data-hash="d711ee5384b1edb68555f98659464b1682865481"></li>
					<li title="Red, Green" data-hash="8da5800c1acdc85dc54afd33809f214bddcef36d"></li>
					<li title="Violet, Orange" data-hash="3586c49351dc16bbfdab1b10d675d5334561a70a"></li>
					<li title="Blue, Red, Yellow" data-hash="303f11d95718c632e430f3d4959cc521abe5dea4"></li>
					<li title="Blue, Yellow, Blue" data-hash="b3f638a83b887454a0ef8dabc7e004ae74d035e1"></li>
					<li title="Orange, Yellow, Orange" data-hash="36623964ca0c3ae46d5a1352b59126a927a7a204"></li>
					<li title="Violet, Green, Orange" data-hash="19a7d0151dd54246e7660a2f678dceda85d76786"></li>
					<li title="Yellow, Violet, Orange, Blue" data-hash="9bdda87f63c17e9c22bd67f617c6eed979462eb0"></li>
					<li title="Copper" data-hash="392696b691848e1c2e14231fecd9edd150d7521e"></li>
					<li title="Chrome" data-hash="218e75c7a912404b048fff0747e40108873b6334"></li>
					<li title="Spectrum" data-hash="9620cf2803289fe004997a280224318c045871a0"></li>
					<li title="Transparent Rainbow" data-hash="4080920a55a2f5283362b052ef7c80d30cd4ba22"></li>
					<li title="Transparent Stripes" data-hash="862fa84c0c19d392a51ed40318b3fad3a03fd256"></li>
					<li title="Neutral Density" data-hash="ec32095600ceda98ec46f4c240854141f3ff6eb0"></li>
					<li class="add-new" data-click="add-gradient-preset"></li>
				</ul>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-load">Load .GRD</div>
			<div class="button" data-click="dlg-export">Export .GRD</div>
		</div>
	</div>
</div>
