<div class="dialog-box" data-dlg="dlgGradientEditor">
	<div class="dlg-content">
		<div class="head-fields">
			<div class="fields">
				<h2>
					<i class="icon-dlg-close" data-click="dlg-close"></i>
					Gradient Editor
				</h2>

				<div class="preset-fields">
					<!-- gradient presets goes here -->
				</div>

				<div class="gradient-slider">
					<div class="track alpha" data-ux="ga-track">
						<span class="point" data-ux="gap-handle" style="--c: #000; --x: 0;"></span>
						<span class="mid" data-ux="gam-handle" style="--x: 140;"></span>
						<span class="point" data-ux="gap-handle" style="--c: #000; --x: 280;"></span>
					</div>
					<div class="gradient"></div>
					<div class="track colors" data-ux="gc-track">
						<span class="point" data-ux="gcp-handle" style="--c: #000; --x: 0;"></span>
						<span class="mid" data-ux="gcm-handle" style="--x: 140;"></span>
						<span class="point" data-ux="gcp-handle" style="--c: #000; --x: 280;"></span>
					</div>
				</div>
			</div>
			<div class="buttons">
				<div class="button" data-click="dlg-ok">OK</div>
				<div class="button" data-click="dlg-load">Load .GRD</div>
				<div class="button" data-click="dlg-export">Export .GRD</div>
			</div>
		</div>

		<div class="alpha-stops">
			<fieldset class="fields-alpha collapsed">
				<h4>Opacity</h4>

				<div class="field-block">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Opacity</span>
							<span class="value">
								<input type="text" name="field-2" data-min="0" data-max="100" value="25%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="25"></div>
					</div>

					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Location</span>
							<span class="value">
								<input type="text" name="field-2" data-min="0" data-max="100" value="25%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="25"></div>
					</div>

					<div class="button">Delete</div>
				</div>
			</fieldset>

			<fieldset class="fields-color">
				<h4>
					Color
					<span class="inline-menu" data-change="set-color-type" data-options="fieldset-inline-menubox" data-match="//GradientEditorColorTypes">Custom</span>
				</h4>

				<div class="field-block">
					<div class="field-row has-preset">
						<div class="option">
							<span class="label">Type</span>
							<span class="color-preset inline-menu" style="background: #f00;" data-options="swatches" data-match="//Swatches"></span>
						</div>
					</div>

					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Location</span>
							<span class="value">
								<input type="text" name="field-2" data-min="0" data-max="100" value="25%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="25"></div>
					</div>

					<div class="button">Delete</div>
				</div>
			</fieldset>

			<fieldset class="fields-midpoint">
				<h4>Midpoint</h4>

				<div class="field-block">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Location</span>
							<span class="value">
								<input type="text" name="field-2" data-min="0" data-max="100" value="25%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="25"></div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
