<div class="dialog-box" data-dlg="dlgTrim">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Trim
			</h2>

			<h3>Based On</h3>

			<div class="field-row">
				<div class="option">
					<span class="label">Transparent</span>
					<div class="toggler" data-value="on" data-name="transparent-pixels" data-default="on" data-click="toggle-transparent-pixels">
						<span>Pixels</span>
					</div>
				</div>
			</div>

			<div class="field-row">
				<div class="option">
					<span class="label">Top Left</span>
					<div class="toggler" data-value="off" data-name="top-left-pixels" data-default="off" data-click="toggle-top-left-pixels">
						<span>Pixel</span>
					</div>
				</div>
			</div>

			<div class="field-row">
				<div class="option">
					<span class="label">Bottom Right</span>
					<div class="toggler" data-value="off" data-name="bottom-right-pixels" data-default="off" data-click="toggle-bottom-right-pixels">
						<span>Pixel</span>
					</div>
				</div>
			</div>

			<div class="field-row has-3x3-grid">
				<div class="option">
					<span class="label">Trim Away</span>
					<div class="grid-3x3-input">
						<span class="grid-arrow empty disabled"></span>
						<span class="grid-arrow s down"></span>
						<span class="grid-arrow empty disabled"></span>
						<span class="grid-arrow w down"></span>
						<span class="grid-arrow c disabled"></span>
						<span class="grid-arrow e down"></span>
						<span class="grid-arrow empty disabled"></span>
						<span class="grid-arrow n down"></span>
						<span class="grid-arrow empty disabled"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
