<div class="dialog-box" data-dlg="dlgVariables">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Variables
			</h2>

			<div class="v-list">
				<div class="list-head">
					<div class="row">
						<div></div>
						<div>Name</div>
						<div>Value</div>
						<div>Layer</div>
					</div>
				</div>
				<div class="list-body">
					<!-- preset layer list goes here -->
					<div class="row">
						<div><i class="icon-file-image"></i></div>
						<div>Image</div>
						<div>/some/path/to/file.jpg</div>
						<div>Image</div>
						<div>
							<i class="icon-trashcan"></i>
						</div>
					</div>

					<div class="row">
						<div><i class="icon-text"></i></div>
						<div>Number</div>
						<div>1</div>
						<div>Number</div>
						<div>
							<i class="icon-trashcan"></i>
						</div>
					</div>

					<div class="row">
						<div><i class="icon-text"></i></div>
						<div>Year</div>
						<div>2001</div>
						<div>Year</div>
						<div>
							<i class="icon-trashcan"></i>
						</div>
					</div>

					<!-- add more layers -->
					<div class="add-row" data-click="add-layer">
						<i class="icon-add-layer"></i>
						Add Value
					</div>
				</div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>
