<content class="show-rulers no-anim" style="--guide-color: #3583d0; --bg-color: #000000ff; --fg-color: #ffffffff;">
	<!-- shown if no file is opened -->
	<div class="blank-view" data-section="blankView">
		<div class="blank-content">
			<!-- blank view HTML goes here -->
		</div>
	</div>
	
	<!-- shown if any file or blank file is in view -->
	<div class="cvs-wrapper">
		<canvas class="canvas" width="1" height="1"></canvas>
		@import "cvs-helpers.htm"
	</div>
	
	<div class="tools-bar" data-click="select-tool">
		<div class="divider"></div>
		<div class="tool" data-content="move"></div>
		<div class="tool" data-content="marquee"></div>
		<div class="tool" data-content="brush"></div>
		<div class="divider"></div>
		<div class="tool" data-content="gradient"></div>
		<div class="tool" data-content="type"></div>
		<div class="tool" data-content="crop"></div>
		<div class="tool" data-content="blur"></div>
		<div class="tool" data-content="stamp"></div>
		<div class="tool" data-content="pipette"></div>
		<div class="divider"></div>
		<div class="tool" data-content="pen"></div>
		<div class="tool" data-content="shape"></div>
		<div class="tool" data-content="pointer"></div>
		<div class="divider"></div>
		<div class="tool" data-content="zoom"></div>
		<div class="tool icon-quick-mask" data-click="toggle-quick-mask-mode" title="Quick Mask"></div>
		<div class="tool" data-content="others" title="Others&#8230;"></div>
		<div class="divider"></div>
	</div>
	<div class="tools-options-bar" data-section="tools">
		@import "tool-options/move.htm"
		@import "tool-options/marquee.htm"
		@import "tool-options/brush.htm"
		@import "tool-options/pipette.htm"
		@import "tool-options/pen.htm"
		@import "tool-options/zoom.htm"
		@import "tool-options/gradient.htm"
		@import "tool-options/blur.htm"
		@import "tool-options/type.htm"
		@import "tool-options/crop.htm"
		@import "tool-options/stamp.htm"
		@import "tool-options/shape.htm"
		@import "tool-options/pointer.htm"
		@import "tool-options/others.htm"
	</div>

	<div class="workspace" data-context="workspace">
		<div class="ruler-guides">
			<div class="top-over"></div>
			<div class="left-over"></div>
			<div class="corner-over"></div>
			<!-- sample guide line
			<div class="lineV" style="left: 230px;"></div>
			-->
		</div>

		<div class="status-bar" data-section="statusbar">
			<!-- file tabs foes here -->
			<div class="new-file">
				New
				<i class="icon icon-new" data-click="show-blank-view" title="New Document"></i>
				<i class="icon icon-clipboard" data-click="new-from-clipboard" title="New from Clipboard"></i>
			</div>
		</div>

		<div class="extras-wrapper" data-section="extras">
			<div class="extra-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="history">History</div>
					<div data-content="actions">Actions</div>
					<div data-content="histogram">Histogram</div>
				</div>
				<div class="box-body">
					@import "sidebar/box-history.htm"
					@import "sidebar/box-actions.htm"
					@import "sidebar/box-histogram.htm"
				</div>
			</div>

			<div class="extra-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="brush">Brush</div>
					<div data-content="adjustments">Adjustments</div>
					<div data-content="guides">Guides</div>
				</div>
				<div class="box-body">
					@import "sidebar/box-brush-tips.htm"
					@import "sidebar/box-adjustments.htm"
					@import "sidebar/box-guides.htm"
				</div>
			</div>

			<div class="extra-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="properties">Properties</div>
					<div data-content="layer-comps">Layer Comps</div>
					<div data-content="glyphs">Glyphs</div>
				</div>
				<div class="box-body">
					@import "sidebar/box-properties.htm"
					@import "sidebar/box-layer-comps.htm"
					@import "sidebar/box-glyphs.htm"
				</div>
			</div>

			<div class="extra-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="styles">Styles</div>
					<div data-content="tool-presets">Tool Presets</div>
				</div>
				<div class="box-body">
					@import "sidebar/box-styles.htm"
					@import "sidebar/box-presets.htm"
				</div>
			</div>


			<div class="extra-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="memory">Memory</div>
					<div data-content="gallery">Gallery</div>
					<div data-content="notes">Notes</div>
					<!-- <div data-content="css">CSS</div> -->
				</div>
				<div class="box-body">
					@import "sidebar/box-memory.htm"
					@import "sidebar/box-gallery.htm"
					@import "sidebar/box-notes.htm"
					@import "sidebar/box-css.htm"
				</div>
			</div>
		</div>
		
		<div class="sidebar-extras" data-section="extras" data-click="extras-tool-box">
			<div class="box-group">
				<div class="tool box-icon" data-target="history" title="History"></div>
				<div class="tool box-icon" data-target="actions" title="Actions"></div>
				<div class="tool box-icon" data-target="histogram" title="Histogram"></div>
				<!-- <div class="tool box-icon" data-target="navigator" title="Navigator"></div> -->
			</div>
			<div class="box-group">
				<div class="tool box-icon" data-target="brush" title="Brush"></div>
				<div class="tool box-icon" data-target="adjustments" title="Adjustments"></div>
				<div class="tool box-icon" data-target="guides" title="Guides"></div>
			</div>
			<div class="box-group">
				<!-- <div class="tool box-icon" data-target="character" title="Character"></div> -->
				<!-- <div class="tool box-icon" data-target="paragraph" Title="Paragraph"></div> -->
				<div class="tool box-icon" data-target="properties" title="Properties"></div>
				<div class="tool box-icon" data-target="layer-comps" title="Layer Comps"></div>
				<div class="tool box-icon" data-target="glyphs" title="Glyphs"></div>
			</div>
			<div class="box-group">
				<div class="tool box-icon" data-target="styles" title="Styles"></div>
				<div class="tool box-icon" data-target="tool-presets" title="Tool Presets"></div>
			</div>
			<div class="box-group">
				<div class="tool box-icon" data-target="memory" title="Memory"></div>
				<div class="tool box-icon" data-target="gallery" title="Gallery"></div>
				<div class="tool box-icon" data-target="notes" title="Notes"></div>
				<!-- <div class="tool box-icon" data-target="css" title="CSS"></div> -->
			</div>
		</div>

		<div class="sidebar-wrapper" data-section="sidebar">
			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="navigator" class="active">Navigator</div>
					<div data-content="color">Color</div>
					<div data-content="info">Info</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "sidebar/box-navigator.htm"
					@import "sidebar/box-color.htm"
					@import "sidebar/box-info.htm"
				</div>
			</div>

			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="character" class="active">Character</div>
					<div data-content="paragraph">Paragraph</div>
					<div data-content="swatches">Swatches
						<span class="menu" data-options="fieldset-inline-menubox" data-match="//PanelLayers"></span>
					</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "sidebar/box-character.htm"
					@import "sidebar/box-paragraph.htm"
					@import "sidebar/box-swatches.htm"
				</div>
			</div>

			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="layers" class="active">Layers
						<span class="menu" data-options="fieldset-inline-menubox" data-match="//PanelLayers"></span>
					</div>
					<div data-content="channels">Channels
						<span class="menu" data-options="fieldset-inline-menubox" data-match="//PanelChannel"></span>
					</div>
					<div data-content="paths">Paths</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "sidebar/box-layers.htm"
					@import "sidebar/box-channels.htm"
					@import "sidebar/box-paths.htm"
				</div>
			</div>
		</div>
	</div>

	<div class="dialogs">
		@import "dialogs/index.htm"
	</div>

</content>
