
.inline-menubox {
	background: rgba(0,0,0,.35);
	position: absolute;
	padding: 1px;
	z-index: 101;
	border-radius: 7px;
	font-size: 12px;
	filter: drop-shadow(0 1px 3px rgba(0,0,0,.5));
	transform-origin: 50% 0;
	animation: popup-bubble 120ms linear forwards;

	&.pop-hide {
		animation: popup-hide 120ms linear forwards;
	}

	&.arrow-below {
		.inline-content {
			padding-bottom: 5px;
		}

		&:before {
			top: auto;
			bottom: -10px;
			border-bottom: 0;
			border-top: 11px solid rgba(0,0,0,.45);
		}

		&:after {
			top: auto;
			bottom: -9px;
			border-bottom: 0;
			border-top: 10px solid #415050;
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -10px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 11px solid rgba(0,0,0,.45);
	}

	&:after {
		content: "";
		position: absolute;
		top: -9px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -9px;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 10px solid #677;
	}

	.inline-content {
		background: linear-gradient(#677 0%, #405050 100%);
		position: relative;
		padding: 7px 0 6px;
		border-radius: inherit;
		z-index: 2;

		&.gradient-strips {
			font-size: 0;
			width: 231px;
			padding: 7px 0 3px 7px;

			.strip {
				position: relative;
				display: inline-block;
				margin: 0 6px 6px 0;
				width: 31px;
				height: 31px;
				cursor: pointer;
				border-radius: 3px;
				background: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 0), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc 0), #fff;
				background-repeat: repeat, repeat;
				background-position: 0px 0, 5px 5px;
				background-origin: padding-box, padding-box;
				background-clip: border-box, border-box;
				background-size: 10px 10px, 10px 10px;
				transform: scaleX(1) scaleY(1) scaleZ(1);

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 2px;
					background: linear-gradient(135deg, var(--gs));
				}

				&.active:before {
					content: "";
					position: absolute;
					top: -1px;
					left: -1px;
					right: -1px;
					bottom: -1px;
					border-radius: inherit;
					box-shadow: 0 0 0 2px #ffffffaa;
				}
			}

			.add-strip {
				display: inline-block;
				margin: 0 6px 6px 0;
				width: 31px;
				height: 31px;
				border-radius: 3px;
				border: 2px dotted rgba(0,0,0,.35);
				background-color: rgba(0,0,0,.1);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-image: url(~/icons/icon-plus.png);
				filter: opacity(65%);
				cursor: pointer;

				&:hover {
					filter: opacity(100%);
				}
			}
		}

		&.contours {
			font-size: 0;
			width: 262px;
			padding: 7px 7px 4px;

			.contour {
				position: relative;
				display: inline-block;
				margin: 1px 5px 4px 0;
				width: 37px;
				height: 37px;
				cursor: pointer;
				border-radius: 2px;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.65);
				background: url(~/img/contours.webp) no-repeat;
				background-size: 0;
				filter: opacity(.75);

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: inherit;
					background: inherit;
					background-size: 380px auto;
					// border: 1px solid;
					// border-color: #eff8 #0114 #0114 #eff8;
				}

				&[data-hash="af502f2b37eea07ed9083c7daf40f34553f6fccd"]:after { background-position: 0 0; }
				&[data-hash="90bd7b949241349cf7be92ea54e98d6eb282106f"]:after { background-position: -38px 0; }
				&[data-hash="d333925313ccf52dc7411f8946d856df69e071de"]:after { background-position: -76px 0; }
				&[data-hash="99129f0e9d7145c225235fdc98ecc51f1cd47dd8"]:after { background-position: -114px 0; }
				&[data-hash="48dd88bdfa3a2f9ceb225ae3f5842752b59acdc8"]:after { background-position: -152px 0; }
				&[data-hash="0594531bbe1e93bc6d57a567196dce754d939fbf"]:after { background-position: -190px 0; }
				&[data-hash="c33f839a0c79eeac5ac1bc0065822e74476ff402"]:after { background-position: -228px 0; }
				&[data-hash="2c176e99b6106ee7af1e6ec868f5a04fdfb812a0"]:after { background-position: -266px 0; }
				&[data-hash="df5fcc92b823af17aaad88ab0610a6aee5693605"]:after { background-position: -304px 0; }
				&[data-hash="8bf95ea372568c7a254ba9fada5f6f1701ebc5b5"]:after { background-position: -342px 0; }
				&[data-hash="4e8329327d04284e1f45120068b88d0e20c7137b"]:after { background-position: 0 -38px; }
				&[data-hash="0045e64d45ebfac889ddd90127276ab46a418765"]:after { background-position: -38px -38px; }
				&[data-hash="d11a88565134a5ff7d7db9f2ff225ff3d63a410b"]:after { background-position: -76px -38px; }
				&[data-hash="96ddaccf581f483cbbf4d46e00691e51a167fc55"]:after { background-position: -114px -38px; }
				&[data-hash="8964ac10e088a3b529867602f495ab6c937e6e97"]:after { background-position: -152px -38px; }
				&[data-hash="b7384ecd5dfed5728a74167ce2b20f5882e423ad"]:after { background-position: -190px -38px; }
				&[data-hash="01b16a846f28c156b3095f0e4e840f971ee5fe42"]:after { background-position: -228px -38px; }
				&[data-hash="f735668521e52c23e4086138d4d1486af91d875c"]:after { background-position: -266px -38px; }
				&[data-hash="dd816132024dd68ea980752528016d135f3e452d"]:after { background-position: -304px -38px; }
				&[data-hash="e5c428d7abc96fed7a88eeca329b78115739f114"]:after { background-position: -342px -38px; }
				&[data-hash="6eb44dcc0ebf74e82689399ed307a95d6a421f79"]:after { background-position: 0 -76px; }
				&[data-hash="4b75369be493bfe02af9dbd41bc7f67ecbc64a36"]:after { background-position: -38px -76px; }
				&[data-hash="8a7e4fccb59eeb78467e028becbf7b27870cfe04"]:after { background-position: -76px -76px; }
				&[data-hash="d4b2e527cf8f2dc51727c372b0d2bda0e159a702"]:after { background-position: -114px -76px; }
				&[data-hash="9504a03d5b8b30ca04c2b988e4e3731661a9c9b5"]:after { background-position: -152px -76px; }
				&[data-hash="3c99fe2454454ae5888dc503804266927fd44714"]:after { background-position: -190px -76px; }
				&[data-hash="cdde4f20ba31a24db2cc7ae71135c8353631907b"]:after { background-position: -228px -76px; }
				&[data-hash="a228e4bf118fd62105d7a59b961843690e880fe4"]:after { background-position: -266px -76px; }
				&[data-hash="2aaff33b2fe1530a717e89b08e3370a84f45a3b8"]:after { background-position: -304px -76px; }
				&[data-hash="30f1aa7ceef674358af768e5308ae0d7314e9553"]:after { background-position: -342px -76px; }

				&:nth-child(6n) {
					margin-right: 0;
				}

				&:not(.selected):hover {
					filter: none;
					box-shadow: 0 0 0 2px #1227;
				}

				&.selected {
					cursor: default;
					box-shadow: 0 0 0 1px #cdd,
								inset 0 0 0 1px #222;
				}
			}
		}

		&.patterns {
			font-size: 0;
			width: 244px;
			padding: 7px 7px 4px;

			.pattern {
				position: relative;
				display: inline-block;
				margin: 1px 5px 4px 0;
				width: 34px;
				height: 34px;
				cursor: pointer;
				border-radius: 3px;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.65);
				background: url(~/img/patterns.webp) no-repeat;
				filter: opacity(.75);

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: inherit;
					border: 1px solid;
					border-color: #eff8 #0114 #0114 #eff8;
				}

				&[data-name="Pattern 01"] { background-position: 0 0; }
				&[data-name="Pattern 02"] { background-position: -35px 0; }
				&[data-name="Pattern 03"] { background-position: -70px 0; }
				&[data-name="Pattern 04"] { background-position: -105px 0; }
				&[data-name="Pattern 05"] { background-position: -140px 0; }
				&[data-name="Pattern 06"] { background-position: -175px 0; }
				&[data-name="Pattern 07"] { background-position: 0 -35px; }
				&[data-name="Pattern 08"] { background-position: -35px -35px; }
				&[data-name="Pattern 09"] { background-position: -70px -35px; }
				&[data-name="Pattern 10"] { background-position: -105px -35px; }
				&[data-name="Pattern 11"] { background-position: -140px -35px; }
				&[data-name="Pattern 12"] { background-position: -175px -35px; }
				&[data-name="Pattern 13"] { background-position: 0 -70px; }
				&[data-name="Pattern 14"] { background-position: -35px -70px; }
				&[data-name="Pattern 15"] { background-position: -70px -70px; }
				&[data-name="Pattern 16"] { background-position: -105px -70px; }
				&[data-name="Pattern 17"] { background-position: -140px -70px; }
				&[data-name="Pattern 18"] { background-position: -175px -70px; }
				&[data-name="Pattern 19"] { background-position: 0 -105px; }
				&[data-name="Pattern 20"] { background-position: -35px -105px; }
				&[data-name="Pattern 21"] { background-position: -70px -105px; }
				&[data-name="Pattern 22"] { background-position: -105px -105px; }
				&[data-name="Pattern 23"] { background-position: -140px -105px; }
				&[data-name="Pattern 24"] { background-position: -175px -105px; }

				&:nth-child(6n) {
					margin-right: 0;
				}

				&:not(.selected):hover {
					filter: none;
					box-shadow: 0 0 0 2px #1227;
				}

				&.selected {
					cursor: default;
					box-shadow: 0 0 0 1px #cdd,
								inset 0 0 0 1px #222;
				}
			}
		}

		&.swatches {
			font-size: 0;
			width: 215px;
			padding: 7px 7px 6px;

			.swatch {
				position: relative;
				display: inline-block;
				margin: 1px 3px 2px 0;
				width: 31px;
				height: 17px;
				cursor: pointer;
				border-radius: 2px;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.65);

				&:nth-child(6n) {
					margin-right: 0;
				}

				&:nth-child(n+25) {
					box-shadow: inset 0 0 0 1px #222;
				}

				&:not(.selected):hover {
					box-shadow: inset 0 0 0 1px #bcc;
				}

				&.selected {
					cursor: default;
					box-shadow: 0 0 0 1px #cdd,
								inset 0 0 0 1px #222;
				}
			}
		}

		&.font-list {
			width: 220px;
			padding: 7px 7px 7px;
		}

		&.brush-tips {
			width: 220px;
			padding: 7px 7px 7px;

			.tip-presets {
				display: flex;
				margin-bottom: 11px;

				> div {
					&.rotation {
						background: rgba(255,255,255,.05);
						border: 1px solid #506060;
						border-radius: 3px;
						position: relative;
						width: 71px;
						height: 71px;
						margin-right: 9px;

						.gyro {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 49.5px;
							height: 49.5px;
							border-radius: 50%;
							border: 1px solid #dee;
							transform: translateX(-50%) translateY(-50%) rotate(0deg);

							&:before {
								content: "";
								position: absolute;
								top: calc( 50% - 1px );
								left: 0;
								right: 0;
								height: 1px;
								background: #899;
							}

							&:after {
								content: "";
								position: absolute;
								top: 0;
								bottom: 0;
								left: calc( 50% - 1px );
								width: 1px;
								background: #899;
							}

							.handle {
								position: absolute;
								top: -4px;
								left: calc( 50% - 4px );
								width: 7px;
								height: 7px;
								z-index: 3;
								background: #eff;
								//border: 1px solid #344;
								//border-radius: 50%;
								box-shadow: 0 0 0 1px #344;
								cursor: ns-resize;

								&:nth-child(2) {
									top: auto;
									bottom: -4px;
								}
							}

							.direction {
								position: absolute;
								top: calc( 50% - 6px );
								right: -11px;
								width: 0;
								height: 0;
								border-left: 9px solid #506060;
								border-top: 5px solid transparent;
								border-bottom: 5px solid transparent;

								&:before {
									content: "";
									position: absolute;
									top: -3px;
									left: -8px;
									width: 0;
									height: 0;
									border-left: 6px solid #eff;
									border-top: 3px solid transparent;
									border-bottom: 3px solid transparent;
									cursor: grab;
								}
							}
						}
					}

					&.ranges {
						flex: auto;

						> div {
							display: flex;
							position: relative;
							padding: 0 0 17px;
							color: #bcc;
							text-shadow: 0 1px 0 #344;

							&.tip-size {
								margin-bottom: 3px;
							}

							.label {
								flex: auto;
								text-transform: uppercase;
								padding-top: 2px;
								font-size: 10px;
							}

							.value {
								background: rgba(0,0,0,0.3);
								border-radius: 21px;
								padding: 2px 0;
								width: 43px;
								font-size: 11px;
								text-align: center;
							}

							.mini-range {
								position: absolute;
								bottom: 3px;
								display: inline-block;
								height: 16px;

								&::-webkit-slider-thumb {
									background: #bcc;
									box-shadow: 0 0 0;
									height: 10px;
									width: 10px;
									margin-top: -4px;
									border: 0;
									box-shadow: 0 1px 0 rgba(#000, 0.2)
								}

								&::-webkit-slider-runnable-track {
									background: #899;
									height: 2px;
								}
							}
						}
					}
				}
			}

			.shape-list {
				font-size: 0;
				margin-bottom: 7px;

				> div {
					background-color: #33444470;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 17px auto;
					border-radius: 3px;
					display: inline-block;
					width: 31px;
					height: 31px;
					margin: 0 4px 4px 0;
					cursor: pointer;
					//filter: drop-shadow(0 1px 0 #122);

					&:nth-child(6n) {
						margin-right: 0;
					}

					&:not(.selected):hover {
						box-shadow: 0 0 0 1px #bcc;
					}

					&.selected {
						//background-color: transparent;
						box-shadow: 0 0 0 1px #cdd;
						cursor: default;
					}

					&.texture {
						position: relative;
						background-image: none;

						&.round:after {
							border-radius: 50%;
							background-position: 100% 100%;
						}
						
						&:after {
							content: "";
							position: absolute;
							top: 5px;
							left: 5px;
							right: 5px;
							bottom: 5px;
							border-radius: 1px;
							background-position: 0 0;
							background-size: 50px auto;
							background-repeat: repeat;
							background-image: var( --image );
						}
					}

					&[data-name="hard-round"] { background-image: url(~/icons/brush-preset-hard-round.png); }
					&[data-name="soft-round"] { background-image: url(~/icons/brush-preset-soft-round.png); }
					&[data-name="box"]        { background-image: url(~/icons/brush-preset-box.png); }
					&[data-name="triangle"]   { background-image: url(~/icons/brush-preset-triangle.png); }
					&[data-name="heart"]      { background-image: url(~/icons/brush-preset-heart.png); }
					&[data-name="star"]       { background-image: url(~/icons/brush-preset-star.png); }
					&[data-name="sponge-1"]   { background-image: url(~/icons/brush-preset-sponge-1.png); }
					&[data-name="sponge-2"]   { background-image: url(~/icons/brush-preset-sponge-2.png); }
					&[data-name="sponge-3"]   { background-image: url(~/icons/brush-preset-sponge-3.png); }
					&[data-name="sponge-4"]   { background-image: url(~/icons/brush-preset-sponge-4.png); }
					&[data-name="sponge-5"]   { background-image: url(~/icons/brush-preset-sponge-5.png); }
					&[data-name="sponge-6"]   { background-image: url(~/icons/brush-preset-sponge-6.png); }
					&[data-name="splatter-1"] { background-image: url(~/icons/brush-preset-splatter-1.png); }
					&[data-name="splatter-2"] { background-image: url(~/icons/brush-preset-splatter-2.png); }
					&[data-name="splatter-3"] { background-image: url(~/icons/brush-preset-splatter-3.png); }
					&[data-name="splatter-4"] { background-image: url(~/icons/brush-preset-splatter-4.png); }
					&[data-name="splatter-5"] { background-image: url(~/icons/brush-preset-splatter-5.png); }
					&[data-name="splatter-6"] { background-image: url(~/icons/brush-preset-splatter-6.png); }
					&[data-name="crayon-1"]   { background-image: url(~/icons/brush-preset-crayon-1.png); }
					&[data-name="crayon-1"]   { background-image: url(~/icons/brush-preset-crayon-1.png); }
					&[data-name="crayon-2"]   { background-image: url(~/icons/brush-preset-crayon-2.png); }
					&[data-name="crayon-2"]   { background-image: url(~/icons/brush-preset-crayon-2.png); }
					&[data-name="crayon-3"]   { background-image: url(~/icons/brush-preset-crayon-3.png); }
					&[data-name="crayon-3"]   { background-image: url(~/icons/brush-preset-crayon-3.png); }
				}
			}

			.preview {
				position: relative;
				height: 78px;
				background: rgba(255,255,255,.1);
				//border: 1px solid #455;
				border-radius: 3px;

				&:before {
					content: "";
					background: linear-gradient(45deg, #677 25%, transparent 25%, transparent 75%, #677 75%, #677 0), linear-gradient(45deg, #677 25%, transparent 25%, transparent 75%, #677 75%, #677 0), #899;
					background-repeat: repeat, repeat;
					background-position: 0px 0, 8px 8px;
					background-origin: padding-box, padding-box;
					background-clip: border-box, border-box;
					background-size: 16px 16px, 16px 16px;
					transform: scaleX(1) scaleY(1) scaleZ(1);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					border-radius: inherit;
				}

				canvas {
					position: relative;
					z-index: 2;
					filter: drop-shadow(0 0 11px rgba(#000,.25));
				}
			}
		}

		hr {
			position: relative;
			background: linear-gradient(90deg, #7880 0%, #788 50%, #7880 100%); //rgba(255,255,255,0.15);
			margin: 6px 0 3px;
			overflow: visible;

			&:after {
				content: "";
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;
				height: 1px;
				background: linear-gradient(90deg, #1220 0%, #1224 50%, #1220 100%);
			}
		}

		.knob {
			margin: 0 9px 0 8px;
		}

		.option {
			position: relative;
			display: block;
			opacity: 1;
			margin: 1px 0 2px;
			white-space: nowrap;
			padding: 3px 23px 1px 23px;
			color: #bcc;
			text-shadow: 0 1px 0 #344;
			cursor: pointer;

			&:not(.selected):not(.disabled):hover {
				background: #69e;
				color: #eff;
				text-shadow: 0 1px 0 #249;
			}

			&.disabled {
				color: #899;
				cursor: default;
				text-shadow: 0 1px 0 #566;
			}

			&.selected {
				//background: #899;
				//color: #eff;
				// text-shadow: 0 1px 0 #249;
				cursor: default;

				&:before {
					content: "";
					position: absolute;
					top: 5px;
					left: 6px;
					width: 8px;
					height: 3px;
					border-left: 3px solid #d0e0e0;
					border-bottom: 3px solid #d0e0e0;
					transform: rotate(-53deg);
					filter: drop-shadow(-1px 1px 0 #455);
				}
			}

			i.icon {
				display: inline-block;
				vertical-align: top;
				margin-right: 5px;
				width: 17px;
				height: 17px;
			}
		}
	}
}
