<div data-box="glyphs" class="hidden">
	<div class="box-tools">
		<div class="option select" data-options="fieldset-inline-menubox" data-match="//GlyphFontFamily">
			<span class="value">DejaVu Sans</span>
		</div>
		<div class="option select" data-options="fieldset-inline-menubox" data-match="//GlyphFontStyle">
			<span class="value">Book</span>
		</div>
	</div>

	<div class="box-tools">
		<div class="option select" data-options="fieldset-inline-menubox" data-match="//GlyphFontGroups">
			<span class="value">All Glyphs (6252)</span>
		</div>
		<div class="option empty-space"></div>
	</div>

	<div class="glyphs-wrapper">
		<div class="glyph-list" data-invert="0">
			<!--glyph chars goes here -->
		</div>
	</div>
	<div class="box-foot">
		<div class="zoom-slider">
			<div class="icon mini"></div>
			<input class="mini-range" type="range" value="4" min="0" max="13">
			<div class="icon maxi"></div>
		</div>
		<div class="foot-buttons">
			<div class="icon icon-glyph-up"></div>
			<div class="icon icon-glyph-down"></div>
			<div class="icon icon-invert down" data-click="toggle-glyph-background"></div>
		</div>
	</div>
</div>