<div data-box="gallery" class="hidden">
	<div class="gallery-wrapper">
		<div>
			<!-- gallery images goes here -->
			<ul class="gallery-list">
				<li style="background-image: url(/cdn/img/2d-samples/robert-collins.jpg);"></li>
				<li style="background-image: url(/cdn/img/2d-samples/matthew-brodeur.jpg);"></li>
				<li style="background-image: url(/cdn/img/2d-samples/johannes-andersson.jpg);"></li>
				<li style="background-image: url(/cdn/img/2d-samples/brigitte-tohm.jpg);"></li>
				<li style="background-image: url(/cdn/img/2d-samples/casey-lee.jpg);"></li>
				<li style="background-image: url(/cdn/img/2d-samples/brantley-neal.jpg);"></li>
				<li style="background-image: url(/cdn/img/2d-samples/alexander-scott-lambley.jpg);"></li>
			</ul>
		</div>
	</div>
</div>