<div data-box="properties" class="hidden">
	<div class="properties-wrapper" data-tab="layer">
		
		<div class="panel-head">
			<ul class="opt-group" data-click="select-property-tab">
				<li data-id="layer" class="active">Layer</li>
				<li data-id="mask">Mask</li>
				<li data-id="shape" class="disabled">Shape</li>
			</ul>
		</div>

		<div class="divider"></div>

		<div data-apply="layer"> <!-- data-show="dlgLevels" -->
			<div data-for="dlgBrightnessContrast"></div>
			<div data-for="dlgLevels"></div>
			<div data-for="dlgCurves"></div>
			<div data-for="dlgExposure"></div>
			<div data-for="dlgVibrance"></div>
			<div data-for="dlgHueSaturation"></div>
			<div data-for="dlgColorBalance"></div>
			<div data-for="dlgBlackWhite"></div>
			<div data-for="dlgPhotoFilter"></div>
			<div data-for="dlgChannelMixer"></div>
			<div data-for="dlgColorLookup"></div>
			<div data-for="dlgInvert"></div>
			<div data-for="dlgPosterize"></div>
			<div data-for="dlgThreshold"></div>
			<div data-for="dlgGradientMap"></div>
			<div data-for="dlgSelectiveColor"></div>
			<div data-for="dlgReplaceColor"></div>
		</div>

		<div data-apply="mask">
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Density</span>
					<span class="value"><input type="text" name="brightness" value="255" data-min="0" data-max="255" data-default="255"></span>
				</div>
				<div class="knob" data-value="255"></div>
			</div>
			
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Feather</span>
					<span class="value"><input type="text" name="contrast" value="0" data-min="0" data-max="500" data-default="0" data-suffix="px"></span>
				</div>
				<div class="knob" data-value="0"></div>
			</div>

			<div class="field-row">
				<div class="option">
					<span class="label">Invert</span>
					<div class="toggler" data-value="off">
						<span>Apply</span>
					</div>
				</div>
			</div>
		</div>

		<div data-apply="shape">
			TODO: shape
		</div>

	</div>
</div>