<div data-box="adjustments" class="hidden">
	<div class="adjustments-wrapper">
		<div class="tool box-icon" data-target="brightness-contrast" title="Brightness/Contrast"></div>
		<div class="tool box-icon" data-target="levels" title="Levels"></div>
		<div class="tool box-icon" data-target="curves" title="Curves"></div>
		<div class="tool box-icon" data-target="exposure" title="Exposure"></div>
		<div class="tool box-icon" data-target="vibrance" title="Vibrance"></div>
		<br/>
		<div class="tool box-icon" data-target="hue-saturation" title="Hue/Saturation"></div>
		<div class="tool box-icon" data-target="color-balance" title="Color Balance"></div>
		<div class="tool box-icon" data-target="black-white" title="Black &amp; White"></div>
		<div class="tool box-icon" data-target="photo-filter" title="Photo Filter"></div>
		<div class="tool box-icon" data-target="channel-mixer" title="Channel Mixer"></div>
		<div class="tool box-icon" data-target="color-lookup" title="Color Lookup"></div>
		<br/>
		<div class="tool box-icon" data-target="invert" title="Invert"></div>
		<div class="tool box-icon" data-target="posterize" title="Posterize"></div>
		<div class="tool box-icon" data-target="threshold" title="Threshold"></div>
		<div class="tool box-icon" data-target="gradient-map" title="Gradient Map"></div>
		<div class="tool box-icon" data-target="selective-color" title="Selective Color"></div>
		<div class="tool box-icon" data-target="replace-color" title="Replace Color"></div>
	</div>
</div>