<div data-box="history" class="hidden">
	<div class="history-wrapper">
		<div>
			<div class="item">
				<i class="icon icon-brush"></i>
				<span>Brush</span>
			</div>
			<div class="item">
				<i class="icon icon-brush"></i>
				<span>Brush</span>
			</div>

			<div class="item">
				<i class="icon icon-stamp-clone"></i>
				<span>Clone Stamp</span>
			</div>

			<div class="item selected">
				<i class="icon icon-stamp-clone"></i>
				<span>Clone Stamp</span>
			</div>

			<div class="item future">
				<i class="icon icon-stamp-clone"></i>
				<span>Clone Stamp</span>
			</div>

			<div class="item future">
				<i class="icon icon-crop"></i>
				<span>Crop</span>
			</div>

			<div class="item future">
				<i class="icon icon-brush"></i>
				<span>Brush</span>
			</div>
		</div>
	</div>
	<div class="box-foot right">
		<div class="icon icon-trashcan" title="Clear History"></div>
	</div>
</div>
