<div data-box="actions" class="hidden">
	<div class="actions-wrapper">
		Actions
	</div>
	<div class="box-foot right">
		<div class="icon icon-layer-link disabled"></div>
		<div class="icon icon-layer-fx disabled"></div>
		<div class="icon icon-layer-mask disabled"></div>
		<div class="icon icon-layer-adjustment disabled"></div>
		<div class="icon icon-folder" data-click="add-layer-folder"></div>
		<div class="icon icon-new" data-click="add-layer"></div>
		<div class="icon icon-trashcan" data-click="remove-layer"></div>
	</div>
</div>