<div data-box="properties" class="hidden">
	<div class="properties-wrapper">
		
		<div class="panel-head">
			<ul class="opt-group">
				<li class="active">Layer</li>
				<li>Mask</li>
				<li class="disabled">Shape</li>
			</ul>
		</div>

		<div class="divider"></div>

		<div data-apply="layer" data-show="dlgLevels">
			<div data-for="dlgBrightnessContrast"></div>
			<div data-for="dlgLevels"></div>
			<div data-for="dlgCurves"></div>
			<div data-for="dlgExposure"></div>
			<div data-for="dlgVibrance"></div>
			<div data-for="dlgHueSaturation"></div>
			<div data-for="dlgColorBalance"></div>
			<div data-for="dlgBlackWhite"></div>
			<div data-for="dlgPhotoFilter"></div>
			<div data-for="dlgChannelMixer"></div>
			<div data-for="dlgColorLookup"></div>
			<div data-for="dlgInvert"></div>
			<div data-for="dlgPosterize"></div>
			<div data-for="dlgThreshold"></div>
			<div data-for="dlgGradientMap"></div>
			<div data-for="dlgSelectiveColor"></div>
			<div data-for="dlgReplaceColor"></div>
		</div>

		<div data-apply="mask">
			TODO
		</div>

		<div data-apply="shape">
			TODO
		</div>

	</div>
</div>