<div data-box="layer-comps" class="hidden">
	<div class="layer-comps-wrapper">
		<div>
			<div class="item">
				<i class="icon icon-blank"></i>
				<span>River</span>
				<i class="icon icon-eye-on"></i>
				<i class="icon icon-position"></i>
				<i class="icon icon-layer-fx"></i>
			</div>
			
			<div class="item">
				<i class="icon icon-layer-comps"></i>
				<span>Volcano</span>
				<i class="icon icon-eye-on"></i>
				<i class="icon icon-position"></i>
				<i class="icon icon-layer-fx"></i>
			</div>
			
			<div class="item">
				<i class="icon icon-blank"></i>
				<span>Crater</span>
				<i class="icon icon-eye-on"></i>
				<i class="icon icon-position"></i>
				<i class="icon icon-layer-fx"></i>
			</div>
		</div>
	</div>
	<div class="box-foot right">
		<div class="icon icon-download"></div>
		<div class="icon icon-reload"></div>
		<div class="icon icon-new"></div>
		<div class="icon icon-trashcan"></div>
	</div>
</div>