<div data-box="guides" class="hidden">
	<div class="guides-wrapper">
		
		<div class="field centered">
			<div class="icon icon-guide-mtop"></div>
			<div class="icon icon-guide-mleft"></div>
			<div class="icon icon-guide-mbottom"></div>
			<div class="icon icon-guide-mright"></div>
			<div class="icon icon-guide-colnum"></div>
			<div class="icon icon-guide-rownum"></div>
			<div class="icon icon-guide-col-width"></div>
			<div class="icon icon-guide-row-height"></div>
			<div class="icon icon-guide-col-gap"></div>
			<div class="icon icon-guide-row-gap"></div>
		</div>

		<div class="divider"></div>

		<div class="field centered">
			<div class="icon icon-guide-top"></div>
			<div class="icon icon-guide-left active"></div>
			<div class="icon icon-guide-bottom"></div>
			<div class="icon icon-guide-bottom"></div>
			<div class="icon icon-guide-hmid"></div>
			<div class="icon icon-guide-vmid"></div>
		</div>
	</div>
</div>