<div data-box="histogram" class="hidden">
	<div class="histogram-wrapper">
		<div class="graph">
			<canvas></canvas>
		</div>
	</div>
	<div class="box-foot right">
		<div class="icon icon-rgb" data-click="set-channel-view" data-arg="0"></div>
		<div class="icon icon-red" data-click="set-channel-view" data-arg="1"></div>
		<div class="icon icon-green" data-click="set-channel-view" data-arg="2"></div>
		<div class="icon icon-blue" data-click="set-channel-view" data-arg="3"></div>
		<div class="icon icon-colors down" data-click="set-channel-view" data-arg="4"></div>
	</div>
</div>