<div data-box="actions" class="hidden">
	<div class="actions-wrapper">
		<div>
			<div class="folder">
				<div class="row">
					<i class="icon icon-check"></i>
					<i class="icon icon-folder"></i>
					<span>Action Set 1</span>
				</div>
				<div class="children">
					<div class="item">
						<div class="row">
							<i class="icon icon-check"></i>
							<i class="icon icon-chevron"></i>
							<span>Action 1.1</span>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<i class="icon icon-check"></i>
							<i class="icon icon-chevron"></i>
							<span>Action 1.2</span>
						</div>
					</div>
				</div>
			</div>

			<div class="folder">
				<div class="row expanded">
					<i class="icon icon-check"></i>
					<i class="icon icon-folder"></i>
					<span>Action Set 2</span>
				</div>
				<div class="children">
					<div class="item">
						<div class="row expanded">
							<i class="icon icon-check"></i>
							<i class="icon icon-chevron"></i>
							<span>Action 2.1</span>
						</div>
						<div class="children">
							<div class="step">
								<div class="row">
									<i class="icon icon-check"></i>
									<span>Step 1</span>
								</div>
							</div>
							<div class="step">
								<div class="row">
									<i class="icon icon-check"></i>
									<span>Step 2</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="box-foot right">
		<div class="icon icon-stop disabled"></div>
		<div class="icon icon-record disabled"></div>
		<div class="icon icon-play disabled"></div>
		<div class="icon icon-folder"></div>
		<div class="icon icon-new"></div>
		<div class="icon icon-trashcan disabled"></div>
		<div class="icon icon-download disabled"></div>
	</div>
</div>