<div data-box="channels" class="hidden">
	<div class="box-content-wrapper">
		<div class="box-content-list">
			<!-- content list goes here -->
			<div class="row" data-channel="rgb" data-click="select-channel">
				<div class="thumbnail">
					<canvas width="32" height="32"></canvas>
				</div>
				<div class="name">RGB</div>
				<div class="icon icon-eye-on" data-click="toggle-rgb-channel"></div>
			</div>
			<div class="row" data-channel="red" data-click="select-channel">
				<div class="thumbnail channel-red">
					<canvas width="32" height="32"></canvas>
				</div>
				<div class="name">Red</div>
				<div class="icon icon-eye-on" data-click="toggle-channel"></div>
			</div>
			<div class="row" data-channel="green" data-click="select-channel">
				<div class="thumbnail channel-green">
					<canvas width="32" height="32"></canvas>
				</div>
				<div class="name">Green</div>
				<div class="icon icon-eye-on" data-click="toggle-channel"></div>
			</div>
			<div class="row" data-channel="blue" data-click="select-channel">
				<div class="thumbnail channel-blue">
					<canvas width="32" height="32"></canvas>
				</div>
				<div class="name">Blue</div>
				<div class="icon icon-eye-on" data-click="toggle-channel"></div>
			</div>
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon disabled icon-selection-ring"></div>
		<div class="icon disabled icon-layer-mask"></div>
		<div class="icon disabled icon-new"></div>
		<div class="icon disabled icon-trashcan"></div>
	</div>
</div>
