<div data-box="glyphs" class="hidden">
	<div class="glyphs-wrapper">
		
	</div>
	<div class="box-foot">
		<div class="zoom-slider">
			<div class="icon mini" data-click="zoom-out"></div>
			<input class="mini-range" type="range" value="4" min="0" max="13">
			<div class="icon maxi" data-click="zoom-in"></div>
		</div>
		<div class="foot-buttons">
			<div class="icon icon-glyph-up"></div>
			<div class="icon icon-glyph-down"></div>
			<div class="icon icon-invert down" data-click="toggle-glyph-background"></div>
		</div>
	</div>
</div>