<div data-box="layers">
	<div class="box-tools hidden">
		<div class="option disabled">
			<span class="value">Kind</span>
		</div>
		<span class="options-row">
			<i class="icon icon-image disabled"></i>
			<i class="icon icon-layer-adjustment disabled"></i>
			<i class="icon icon-text disabled"></i>
			<i class="icon icon-shape disabled"></i>
			<i class="icon icon-smart-object disabled"></i>
			<div class="switch on1" data-click="toggle-layer-filer"></div>
		</span>
	</div>
	<div class="box-tools">
		<div class="option" data-options="fieldset-inline-menubox" data-match="//BlendModes">
			<span class="value">Normal</span>
		</div>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Opacity</span>
			<span class="value">100%</span>
		</div>
	</div>
	<div class="box-tools">
		<span class="legend">Lock</span>
		<span class="options-row">
			<i class="icon icon-transparency"></i>
			<i class="icon icon-pixels"></i>
			<i class="icon icon-position active"></i>
			<i class="icon icon-all"></i>
		</span>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Fill</span>
			<span class="value">100%</span>
		</div>

	</div>
	<div class="box-content-wrapper">
		<div class="box-content-list" data-click="select-layer">
			<!--
			<div class="group">
				<div class="row">
					<div class="icon icon-folder"></div>
					<div class="name">Field</div>
					<div class="icon icon-eye-off" data-click="toggle-visibility"></div>
				</div>
			</div>

			<div class="group expanded">
				<div class="row">
					<div class="icon icon-folder-open"></div>
					<div class="name">Landscape</div>
					<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
				</div>
				
				<div class="row active1">
					<div class="thumbnail"><canvas></canvas></div>
					<div class="name">Flower</div>
					<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
					<div class="fx-applied"></div>
				</div>
			</div>
			-->
				
			<div class="row" data-layer="shape">
				<div class="thumbnail"><canvas></canvas><i></i></div>
				<div class="name">Shape Layer</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
				
			<div class="row" data-layer="text">
				<div class="thumbnail"><canvas></canvas><i></i></div>
				<div class="name">Text Layer</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
				
			<div class="row" data-layer="smart" style="--bg: url(/cdn/img/2d-samples/robert-collins.jpg); --w: 28px; --h: 20px;">
				<div class="thumbnail"><canvas></canvas><i></i></div>
				<div class="name">Smart Object</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
				<div class="fx-applied"></div>
			</div>
			
			<div class="row" data-layer="image" style="--bg: url(/cdn/img/2d-samples/matthew-brodeur.jpg); --w: 22px; --h: 28px;">
				<div class="thumbnail"><canvas></canvas><i></i></div>
				<div class="name">Background</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon icon-layer-link disabled"></div>
		<div class="icon icon-layer-fx disabled"></div>
		<div class="icon icon-layer-mask disabled"></div>
		<div class="icon icon-layer-adjustment disabled"></div>
		<div class="icon icon-folder" data-click="add-layer-folder"></div>
		<div class="icon icon-new" data-click="add-layer"></div>
		<div class="icon icon-trashcan" data-click="remove-layer"></div>
	</div>
</div>
