<div data-box="adjustments" class="hidden">
	<div class="adjustments-wrapper" data-click="select-adjustment">
		<div class="tool box-icon" data-target="dlgBrightnessContrast" title="Brightness/Contrast"></div>
		<div class="tool box-icon" data-target="dlgLevels" title="Levels"></div>
		<div class="tool box-icon" data-target="dlgCurves" title="Curves"></div>
		<div class="tool box-icon" data-target="dlgExposure" title="Exposure"></div>
		<div class="tool box-icon" data-target="dlgVibrance" title="Vibrance"></div>
		<br/>
		<div class="tool box-icon" data-target="dlgHueSaturation" title="Hue/Saturation"></div>
		<div class="tool box-icon" data-target="dlgColorBalance" title="Color Balance"></div>
		<div class="tool box-icon" data-target="dlgBlackWhite" title="Black &amp; White"></div>
		<div class="tool box-icon" data-target="dlgPhotoFilter" title="Photo Filter"></div>
		<div class="tool box-icon" data-target="dlgChannelMixer" title="Channel Mixer"></div>
		<div class="tool box-icon" data-target="dlgColorLookup" title="Color Lookup"></div>
		<br/>
		<div class="tool box-icon" data-target="dlgInvert" title="Invert"></div>
		<div class="tool box-icon" data-target="dlgPosterize" title="Posterize"></div>
		<div class="tool box-icon" data-target="dlgThreshold" title="Threshold"></div>
		<div class="tool box-icon" data-target="dlgGradientMap" title="Gradient Map"></div>
		<div class="tool box-icon" data-target="dlgSelectiveColor" title="Selective Color"></div>
		<div class="tool box-icon" data-target="dlgReplaceColor" title="Replace Color"></div>
	</div>
</div>