<div data-box="guides" class="hidden">
	<div class="guides-wrapper">

		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-mtop"></div>
				</span>
				<span class="value">0px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-mleft"></div>
				</span>
				<span class="value">0px</span>
			</div>
		</div>
		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-mbottom"></div>
				</span>
				<span class="value">0px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-mright"></div>
				</span>
				<span class="value">0px</span>
			</div>
		</div>
		
		<div class="divider"></div>

		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-colnum"></div>
				</span>
				<span class="value">0px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-rownum"></div>
				</span>
				<span class="value">0px</span>
			</div>
		</div>
		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-col-width"></div>
				</span>
				<span class="value">0px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-row-height"></div>
				</span>
				<span class="value">0px</span>
			</div>
		</div>
		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-col-gap"></div>
				</span>
				<span class="value">0px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-guide-row-gap"></div>
				</span>
				<span class="value">0px</span>
			</div>
		</div>
		
		<div class="divider"></div>

		<div class="field centered">
			<div class="icon icon-guide-top active"></div>
			<div class="icon icon-guide-vmid"></div>
			<div class="icon icon-guide-bottom"></div>
			<div class="icon icon-guide-left"></div>
			<div class="icon icon-guide-hmid"></div>
			<div class="icon icon-guide-right"></div>
		</div>
	</div>
</div>