<div data-box="channels" class="hidden">
	<div class="box-content-wrapper" data-size="1">
		<div class="box-content-list">
			<!-- content list goes here -->
			<div class="row" data-layer="image" data-channel="rgb" style="--w: 32px;--h: 22px;">
				<div class="layer-row-body" data-id="">
					<div class="thumbnail">
						<canvas width="32" height="22"></canvas>
						<i></i>
					</div>
					<div class="name">RGB</div>
					<i data-click="toggle-layer-visibility" class="icon icon-eye-on"></i>
				</div>
			</div>
			<div class="row" data-layer="image" data-channel="red" style="--w: 32px;--h: 22px;">
				<div class="layer-row-body" data-id="">
					<div class="thumbnail">
						<canvas width="32" height="22"></canvas>
						<i></i>
					</div>
					<div class="name">Red</div>
					<i data-click="toggle-layer-visibility" class="icon icon-eye-on"></i>
				</div>
			</div>
			<div class="row" data-layer="image" data-channel="green" style="--w: 32px;--h: 22px;">
				<div class="layer-row-body" data-id="">
					<div class="thumbnail">
						<canvas width="32" height="22"></canvas>
						<i></i>
					</div>
					<div class="name">Green</div>
					<i data-click="toggle-layer-visibility" class="icon icon-eye-on"></i>
				</div>
			</div>
			<div class="row" data-layer="image" data-channel="blue" style="--w: 32px;--h: 22px;">
				<div class="layer-row-body" data-id="">
					<div class="thumbnail">
						<canvas width="32" height="22"></canvas>
						<i></i>
					</div>
					<div class="name">Blue</div>
					<i data-click="toggle-layer-visibility" class="icon icon-eye-on"></i>
				</div>
			</div>

		</div>
	</div>

	<div class="box-foot right">
		<div class="icon disabled icon-selection-ring"></div>
		<div class="icon disabled icon-layer-mask"></div>
		<div class="icon disabled icon-new"></div>
		<div class="icon disabled icon-trashcan"></div>
	</div>
</div>
