
<div class="extra-box">
	<div class="box-head" data-click="box-head-tab">
		<div data-content="history">History</div>
		<div data-content="actions">Actions</div>
		<div data-content="histogram">Histogram</div>
	</div>
	<div class="box-body">
		<div data-box="history" class="hidden">
			<div class="history-wrapper">
				History
			</div>
		</div>

		<div data-box="actions" class="hidden">
			<div class="actions-wrapper">
				Actions
			</div>
			<div class="box-foot right">
				<div class="icon icon-layer-link disabled"></div>
				<div class="icon icon-layer-fx disabled"></div>
				<div class="icon icon-layer-mask disabled"></div>
				<div class="icon icon-layer-adjustment disabled"></div>
				<div class="icon icon-folder" data-click="add-layer-folder"></div>
				<div class="icon icon-new" data-click="add-layer"></div>
				<div class="icon icon-trashcan" data-click="remove-layer"></div>
			</div>
		</div>

		<div data-box="histogram" class="hidden">
			<div class="histogram-wrapper">
				Historgram
			</div>
		</div>
	</div>
</div>

<div class="extra-box">
	<div class="box-head" data-click="box-head-tab">
		<div data-content="adjustments">Adjustments</div>
		<div data-content="brush">Brush</div>
		<div data-content="layer-comps">Layer Comps</div>
	</div>
	<div class="box-body">
		<div data-box="adjustments" class="hidden">
			<div class="adjustments-wrapper">
				Adjustments
			</div>
		</div>

		<div data-box="brush" class="hidden">
			<div class="brush-wrapper">
				Brush
			</div>
		</div>

		<div data-box="layer-comps" class="hidden">
			<div class="layer-comps-wrapper">
				Layer Comps
			</div>
		</div>
	</div>
</div>

<div class="extra-box">
	<div class="box-head" data-click="box-head-tab">
		<div data-content="tool-presets">Tool Presets</div>
		<div data-content="glyphs">Glyphs</div>
		<div data-content="notes">Notes</div>
	</div>
	<div class="box-body">
		<div data-box="tool-presets" class="hidden">
			<div class="tool-presets-wrapper">
				Tool Presets
			</div>
		</div>
		
		<div data-box="glyphs" class="hidden">
			<div class="glyphs-wrapper">
				Glyphs
			</div>
		</div>
		
		<div data-box="guides" class="hidden">
			<div class="guides-wrapper">
				Guides
			</div>
		</div>
	</div>
</div>

<div class="extra-box">
	<div class="box-head" data-click="box-head-tab">
		<div data-content="properties">Properties</div>
		<div data-content="memory">Memory</div>
	</div>
	<div class="box-body">
		<div data-box="properties" class="hidden">
			<div class="properties-wrapper">
				Properties
			</div>
		</div>

		<div data-box="memory" class="hidden">
			<div class="memory-wrapper">
				Memory
			</div>
		</div>
	</div>
</div>


<div class="extra-box">
	<div class="box-head" data-click="box-head-tab">
		<div data-content="guides">Guides</div>
		<div data-content="gallery">Gallery</div>
		<div data-content="css">CSS</div>
	</div>
	<div class="box-body">
		<div data-box="gallery" class="hidden">
			<div class="gallery-wrapper">
				Gallery
			</div>
		</div>

		<div data-box="notes" class="hidden">
			<div class="notes-wrapper">
				Notes
			</div>
		</div>

		<div data-box="css" class="hidden">
			<div class="css-wrapper">
				CSS
			</div>
		</div>
	</div>
</div>
