
@import "file/export-as.htm"
@import "file/print.htm"
@import "file/export-layers.htm"
@import "file/export-color-look-up.htm"
@import "file/file-info.htm"

@import "edit/fill.htm"
@import "edit/stroke.htm"
@import "edit/preset-manager.htm"
@import "edit/preferences.htm"

@import "image/canvas-size.htm"
@import "image/image-size.htm"
@import "image/trim.htm"
@import "image/apply-image.htm"
@import "image/variables.htm"
@import "image/gradient-editor.htm"

@import "image/adjustments/brightness-contrast.htm"
@import "image/adjustments/levels.htm"
@import "image/adjustments/curves.htm"
@import "image/adjustments/exposure.htm"
@import "image/adjustments/vibrance.htm"
@import "image/adjustments/hue-saturation.htm"
@import "image/adjustments/color-balance.htm"
@import "image/adjustments/black-white.htm"
@import "image/adjustments/photo-filter.htm"
@import "image/adjustments/channel-mixer.htm"
@import "image/adjustments/color-lookup.htm"
@import "image/adjustments/threshold.htm"
@import "image/adjustments/gradient-map.htm"
@import "image/adjustments/selective-color.htm"
@import "image/adjustments/shadow-highlights.htm"
@import "image/adjustments/match-color.htm"
@import "image/adjustments/replace-color.htm"

@import "layer/layer-style.htm"
@import "layer/contour-editor.htm"
@import "layer/duplicate-info.htm"
@import "layer/new/artboard.htm"
@import "layer/new/new-tool-shape.htm"

@import "select/color-range.htm"
@import "select/magic-cut.htm"
@import "select/refine-edge.htm"
@import "select/modify/border.htm"
@import "select/modify/smooth.htm"
@import "select/modify/expand.htm"
@import "select/modify/contract.htm"
@import "select/modify/feather.htm"

@import "filter/camera-raw.htm"
@import "filter/lens-correction.htm"
@import "filter/filter-gallery.htm"
@import "filter/liquify.htm"
@import "filter/pixelator.htm"

@import "filter/3d/normal-map.htm"
@import "filter/3d/texture-dilation.htm"

@import "filter/blur/box-blur.htm"
@import "filter/blur/gaussian-blur.htm"
@import "filter/blur/lens-blur.htm"
@import "filter/blur/motion-blur.htm"
@import "filter/blur/radial-blur.htm"
@import "filter/blur/surface-blur.htm"

@import "filter/distort/displace.htm"
@import "filter/distort/kaleidoscope.htm"
@import "filter/distort/pinch.htm"
@import "filter/distort/polar-coordinates.htm"
@import "filter/distort/ripple.htm"
@import "filter/distort/shear.htm"
@import "filter/distort/spherize.htm"
@import "filter/distort/twirl.htm"
@import "filter/distort/wave.htm"
@import "filter/distort/zigzag.htm"

@import "filter/noise/add-noise.htm"
@import "filter/noise/dust-scratches.htm"
@import "filter/noise/median.htm"
@import "filter/noise/reduce-noise.htm"

@import "filter/pixelate/color-halftone.htm"
@import "filter/pixelate/crystallize.htm"
@import "filter/pixelate/mezzoint.htm"
@import "filter/pixelate/mosaic.htm"
@import "filter/pixelate/pointillize.htm"

@import "filter/render/flame.htm"
@import "filter/render/fibers.htm"
@import "filter/render/lens-flare.htm"

@import "filter/sharpen/smart-sharpen.htm"
@import "filter/sharpen/unsharp-mask.htm"

@import "filter/stylize/diffuse.htm"
@import "filter/stylize/emboss.htm"
@import "filter/stylize/oil-paint.htm"
@import "filter/stylize/trace-contour.htm"
@import "filter/stylize/wind.htm"

@import "filter/other/high-pass.htm"
@import "filter/other/hsb-hsl.htm"
@import "filter/other/maximum.htm"
@import "filter/other/minimum.htm"
@import "filter/other/offset.htm"
@import "filter/other/repeat.htm"
@import "filter/other/color-to-alpha.htm"
@import "filter/other/dither.htm"
@import "filter/other/particles.htm"

@import "view/add-guides.htm"

@import "colors.htm"
