<div class="dialog-box" data-dlg="dlgExportAs">
	<div class="dlg-content">
		<div class="preview-box">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Export As
			</h2>
			<div class="preview">
				<div class="file-size">
					<span>97 KB</span>
					<span>99,324 B</span>
				</div>
				<div class="zoom-level">
					<span data-click="preview-zoom-out"></span>
					<span class="preview-zoom-value">100%</span>
					<span data-click="preview-zoom-in"></span>
				</div>
			</div>
		</div>
		<div class="sidebar-options">
			<div class="options-wrapper" data-show="pdf">

				<div class="field-row">
					<div class="option select" data-change="set-export-format" data-options="fieldset-inline-menubox" data-match="//SaveAsFormat">
						<span class="label">Format</span>
						<span class="value">png</span>
					</div>
				</div>

				<div class="field-row">
					<div class="option select" data-options="fieldset-inline-menubox" data-match="//Units">
						<span class="label">Units</span>
						<span class="value">Pixels</span>
					</div>
				</div>
		
				<div class="linked-2">
					<i class="icon-linked" data-click="toggle-ratio-linked"></i>
				</div>
				
				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Width</span>
						<span class="value">
							<input type="text" name="canvas-width" data-min="1" data-max="999" value="100px" data-default="100px" data-suffix="px"/>
						</span>
					</div>
					<div class="knob" data-change="set-canvas-width" data-value="100"></div>
				</div>
				
				<div class="field-row has-knob">
					<div class="option input">
						<span class="label">Height</span>
						<span class="value">
							<input type="text" name="canvas-height" data-min="1" data-max="999" value="100px" data-default="100px" data-suffix="px"/>
						</span>
					</div>
					<div class="knob" data-change="set-canvas-height" data-value="100"></div>
				</div>

				<div class="format-options" data-format="png">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Quality</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="100" value="70%" data-default="70%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="70"></div>
					</div>

					<div class="field-row">
						<div class="option has-toggler">
							<span class="label">Palettes</span>
							<span class="value">
								<div class="toggler" data-value="off">
									<span>Use</span>
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class="format-options" data-format="jpg">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Quality</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="100" value="70%" data-default="70%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="70"></div>
					</div>

					<div class="field-row">
						<div class="option has-toggler">
							<span class="label">Metadata</span>
							<span class="value">
								<div class="toggler" data-value="off">
									<span>Attach</span>
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class="format-options" data-format="svg">
					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-1" checked>
								<i></i>
							</span>
							<label class="label" for="check-1">Add Raster Graphics</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-2">
								<i></i>
							</span>
							<label class="label" for="check-2">Add Hidden Layers</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-3">
								<i></i>
							</span>
							<label class="label" for="check-3">Vectorize Text</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-4">
								<i></i>
							</span>
							<label class="label" for="check-4">Rasterize Text</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-5">
								<i></i>
							</span>
							<label class="label" for="check-5">Minify</label>
						</div>
					</div>
				</div>

				<div class="format-options" data-format="gif">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Quality</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="100" value="100%" data-default="100%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="100"></div>
					</div>

					<div class="field-row">
						<div class="option has-toggler">
							<span class="label">Dither</span>
							<span class="value">
								<div class="toggler" data-value="off">
									<span>Apply</span>
								</div>
							</span>
						</div>
					</div>

					<div class="field-row">
						<div class="option no-input">
							<span class="label">Color Table</span>
							<span class="value"></span>
						</div>
					</div>

					<div class="gif-color-table">
						<i style="background: #ff0000;"></i>
						<i style="background: #ffff00;"></i>
						<i style="background: #00ff00;"></i>
						<i style="background: #00ffff;"></i>
						<i style="background: #0000ff;"></i>
						<i style="background: #ff00ff;"></i>
						<i style="background: #ffffff;"></i>
						<i style="background: #ebebeb;"></i>
						<i style="background: #e1e1e1;"></i>
						<i style="background: #d7d7d7;"></i>
						<i style="background: #cccccc;"></i>
						<i style="background: #c2c2c2;"></i>
						<i style="background: #b7b7b7;"></i>
						<i style="background: #acacac;"></i>
						<i style="background: #a0a0a0;"></i>
						<i style="background: #959595;"></i>

						<i style="background: #eb212f;"></i>
						<i style="background: #fff02b;"></i>
						<i style="background: #00a454;"></i>
						<i style="background: #00afed;"></i>
						<i style="background: #2f3491;"></i>
						<i style="background: #ea148d;"></i>
						<i style="background: #898989;"></i>
						<i style="background: #7d7d7d;"></i>
						<i style="background: #707070;"></i>
						<i style="background: #626262;"></i>
						<i style="background: #555555;"></i>
						<i style="background: #464646;"></i>
						<i style="background: #363636;"></i>
						<i style="background: #262626;"></i>
						<i style="background: #111111;"></i>
						<i style="background: #000000;"></i>

						<i style="background: #f5977d;"></i>
						<i style="background: #f8ad85;"></i>
						<i style="background: #fcc58e;"></i>
						<i style="background: #fff69f;"></i>
						<i style="background: #c4de9e;"></i>
						<i style="background: #a4d29e;"></i>
						<i style="background: #85c99e;"></i>
						<i style="background: #7eccc7;"></i>
						<i style="background: #72d0f4;"></i>
						<i style="background: #7fa8d7;"></i>
						<i style="background: #8494c8;"></i>
						<i style="background: #8883bc;"></i>
						<i style="background: #a088bd;"></i>
						<i style="background: #bb8ebe;"></i>
						<i style="background: #f29cc1;"></i>
						<i style="background: #f4999e;"></i>

						<i style="background: #f06d54;"></i>
						<i style="background: #f48e5c;"></i>
						<i style="background: #f9ae64;"></i>
						<i style="background: #fff372;"></i>
						<i style="background: #acd277;"></i>
						<i style="background: #7ec379;"></i>
						<i style="background: #42b77a;"></i>
						<i style="background: #2abab3;"></i>
						<i style="background: #00bff0;"></i>
						<i style="background: #478dc8;"></i>
						<i style="background: #5776b6;"></i>
						<i style="background: #605ea6;"></i>
						<i style="background: #8561a6;"></i>
						<i style="background: #a665a7;"></i>
						<i style="background: #ee70a9;"></i>
						<i style="background: #ef6e7e;"></i>

						<i style="background: #eb212e;"></i>
						<i style="background: #f0662f;"></i>
						<i style="background: #f59331;"></i>
						<i style="background: #fff02a;"></i>
						<i style="background: #8fc549;"></i>
						<i style="background: #40b34f;"></i>
						<i style="background: #00a453;"></i>
						<i style="background: #00a89c;"></i>
						<i style="background: #00afec;"></i>
						<i style="background: #0073b9;"></i>
						<i style="background: #0057a4;"></i>
						<i style="background: #2f3490;"></i>
						<i style="background: #65318f;"></i>
						<i style="background: #912c8e;"></i>
						<i style="background: #ea148c;"></i>
						<i style="background: #eb1d5d;"></i>

						<i style="background: #9c0f17;"></i>
						<i style="background: #9e4218;"></i>
						<i style="background: #a2611a;"></i>
						<i style="background: #ab9f1d;"></i>
						<i style="background: #5a842e;"></i>
						<i style="background: #207a34;"></i>
						<i style="background: #007138;"></i>
						<i style="background: #00736a;"></i>
						<i style="background: #0077a1;"></i>
						<i style="background: #004c7e;"></i>
						<i style="background: #003670;"></i>
						<i style="background: #1c1862;"></i>
						<i style="background: #441461;"></i>
						<i style="background: #620c5f;"></i>
						<i style="background: #9c005d;"></i>
						<i style="background: #9c033a;"></i>

						<i style="background: #780002;"></i>
						<i style="background: #7a2f04;"></i>
						<i style="background: #7c4907;"></i>
						<i style="background: #827a0d;"></i>
						<i style="background: #41651e;"></i>
						<i style="background: #085e24;"></i>
						<i style="background: #005727;"></i>
						<i style="background: #005951;"></i>
						<i style="background: #005b7d;"></i>
						<i style="background: #003761;"></i>
						<i style="background: #002355;"></i>
						<i style="background: #0d014b;"></i>
						<i style="background: #310049;"></i>
						<i style="background: #4a0048;"></i>
						<i style="background: #790046;"></i>
						<i style="background: #780028;"></i>

						<i style="background: #c6b19a;"></i>
						<i style="background: #988676;"></i>
						<i style="background: #726258;"></i>
						<i style="background: #534741;"></i>
						<i style="background: #36302e;"></i>
						<i style="background: #c59c71;"></i>
						<i style="background: #a57c55;"></i>
						<i style="background: #8b623c;"></i>
						<i style="background: #744c28;"></i>
						<i style="background: #603817;"></i>
						<i style="background: #005951;"></i>
						<i style="background: #005b7d;"></i>
						<i style="background: #003761;"></i>
						<i style="background: #002355;"></i>
						<i style="background: #0d014b;"></i>
						<i style="background: #005951;"></i>
						
						<i style="background: #ff0000;"></i>
						<i style="background: #ffff00;"></i>
						<i style="background: #00ff00;"></i>
						<i style="background: #00ffff;"></i>
						<i style="background: #0000ff;"></i>
						<i style="background: #ff00ff;"></i>
						<i style="background: #ffffff;"></i>
						<i style="background: #ebebeb;"></i>
						<i style="background: #e1e1e1;"></i>
						<i style="background: #d7d7d7;"></i>
						<i style="background: #cccccc;"></i>
						<i style="background: #c2c2c2;"></i>
						<i style="background: #b7b7b7;"></i>
						<i style="background: #acacac;"></i>
						<i style="background: #a0a0a0;"></i>
						<i style="background: #959595;"></i>

						<i style="background: #eb212f;"></i>
						<i style="background: #fff02b;"></i>
						<i style="background: #00a454;"></i>
						<i style="background: #00afed;"></i>
						<i style="background: #2f3491;"></i>
						<i style="background: #ea148d;"></i>
						<i style="background: #898989;"></i>
						<i style="background: #7d7d7d;"></i>
						<i style="background: #707070;"></i>
						<i style="background: #626262;"></i>
						<i style="background: #555555;"></i>
						<i style="background: #464646;"></i>
						<i style="background: #363636;"></i>
						<i style="background: #262626;"></i>
						<i style="background: #111111;"></i>
						<i style="background: #000000;"></i>

						<i style="background: #f5977d;"></i>
						<i style="background: #f8ad85;"></i>
						<i style="background: #fcc58e;"></i>
						<i style="background: #fff69f;"></i>
						<i style="background: #c4de9e;"></i>
						<i style="background: #a4d29e;"></i>
						<i style="background: #85c99e;"></i>
						<i style="background: #7eccc7;"></i>
						<i style="background: #72d0f4;"></i>
						<i style="background: #7fa8d7;"></i>
						<i style="background: #8494c8;"></i>
						<i style="background: #8883bc;"></i>
						<i style="background: #a088bd;"></i>
						<i style="background: #bb8ebe;"></i>
						<i style="background: #f29cc1;"></i>
						<i style="background: #f4999e;"></i>

						<i style="background: #f06d54;"></i>
						<i style="background: #f48e5c;"></i>
						<i style="background: #f9ae64;"></i>
						<i style="background: #fff372;"></i>
						<i style="background: #acd277;"></i>
						<i style="background: #7ec379;"></i>
						<i style="background: #42b77a;"></i>
						<i style="background: #2abab3;"></i>
						<i style="background: #00bff0;"></i>
						<i style="background: #478dc8;"></i>
						<i style="background: #5776b6;"></i>
						<i style="background: #605ea6;"></i>
						<i style="background: #8561a6;"></i>
						<i style="background: #a665a7;"></i>
						<i style="background: #ee70a9;"></i>
						<i style="background: #ef6e7e;"></i>

						<i style="background: #eb212e;"></i>
						<i style="background: #f0662f;"></i>
						<i style="background: #f59331;"></i>
						<i style="background: #fff02a;"></i>
						<i style="background: #8fc549;"></i>
						<i style="background: #40b34f;"></i>
						<i style="background: #00a453;"></i>
						<i style="background: #00a89c;"></i>
						<i style="background: #00afec;"></i>
						<i style="background: #0073b9;"></i>
						<i style="background: #0057a4;"></i>
						<i style="background: #2f3490;"></i>
						<i style="background: #65318f;"></i>
						<i style="background: #912c8e;"></i>
						<i style="background: #ea148c;"></i>
						<i style="background: #eb1d5d;"></i>

						<i style="background: #9c0f17;"></i>
						<i style="background: #9e4218;"></i>
						<i style="background: #a2611a;"></i>
						<i style="background: #ab9f1d;"></i>
						<i style="background: #5a842e;"></i>
						<i style="background: #207a34;"></i>
						<i style="background: #007138;"></i>
						<i style="background: #00736a;"></i>
						<i style="background: #0077a1;"></i>
						<i style="background: #004c7e;"></i>
						<i style="background: #003670;"></i>
						<i style="background: #1c1862;"></i>
						<i style="background: #441461;"></i>
						<i style="background: #620c5f;"></i>
						<i style="background: #9c005d;"></i>
						<i style="background: #9c033a;"></i>

						<i style="background: #780002;"></i>
						<i style="background: #7a2f04;"></i>
						<i style="background: #7c4907;"></i>
						<i style="background: #827a0d;"></i>
						<i style="background: #41651e;"></i>
						<i style="background: #085e24;"></i>
						<i style="background: #005727;"></i>
						<i style="background: #005951;"></i>
						<i style="background: #005b7d;"></i>
						<i style="background: #003761;"></i>
						<i style="background: #002355;"></i>
						<i style="background: #0d014b;"></i>
						<i style="background: #310049;"></i>
						<i style="background: #4a0048;"></i>
						<i style="background: #790046;"></i>
						<i style="background: #780028;"></i>
						
						<i style="background: #c6b19a;"></i>
						<i style="background: #988676;"></i>
						<i style="background: #726258;"></i>
						<i style="background: #534741;"></i>
						<i style="background: #36302e;"></i>
						<i style="background: #c59c71;"></i>
						<i style="background: #a57c55;"></i>
						<i style="background: #8b623c;"></i>
						<i style="background: #744c28;"></i>
						<i style="background: #603817;"></i>
						<i style="background: #005951;"></i>
						<i style="background: #005b7d;"></i>
						<i style="background: #003761;"></i>
						<i style="background: #002355;"></i>
						<i style="background: #0d014b;"></i>
						<i style="background: #310049;"></i>
					</div>
				</div>

				<div class="format-options" data-format="pdf">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Quality</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="100" value="70%" data-default="70%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="70"></div>
					</div>

					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Add Margin</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="5" value="0in" data-default="0in" data-suffix="in" data-step="0.05"/>
							</span>
						</div>
						<div class="knob" data-value="0"></div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-17">
								<i></i>
							</span>
							<label class="label" for="check-17">Rasterize All</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-16">
								<i></i>
							</span>
							<label class="label" for="check-16">Vectorize Text</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-16">
								<i></i>
							</span>
							<label class="label" for="check-16">Add Crop Marks</label>
						</div>
					</div>
				</div>

				<div class="format-options" data-format="webp">
					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Quality</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="100" value="70%" data-default="70%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="70"></div>
					</div>
				</div>

				<div class="format-options empty" data-format="bmp">
					No options for filetype BMP
				</div>

				<div class="format-options" data-format="tiff">
					<div class="field-row">
						<div class="option has-toggler">
							<span class="label">Metadata</span>
							<span class="value">
								<div class="toggler" data-value="off">
									<span>Attach</span>
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class="format-options empty" data-format="ico">
					No options for filetype ICO
				</div>

				<div class="format-options" data-format="dds">
					<div class="field-row">
						<div class="option select" data-options="fieldset-inline-menubox" data-match="//SaveAsDdsFormat">
							<span class="label">Compression</span>
							<span class="value">8x | BC1</span>
						</div>
					</div>

					<div class="field-row">
						<div class="option has-toggler">
							<span class="label">Mipmaps</span>
							<span class="value">
								<div class="toggler" data-value="on">
									<span>Add</span>
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class="format-options empty" data-format="tga">
					No options for filetype TGA
				</div>

				<div class="format-options empty" data-format="ppm">
					No options for filetype PPM
				</div>

				<div class="format-options" data-format="raw">
					<div class="field-row">
						<div class="option opt-group">
							<span class="label">Channels</span>
							<span class="value">
								<ul class="opt-group">
									<li class="active">1</li>
									<li>3</li>
									<li>4</li>
								</ul>
							</span>
						</div>
					</div>

					<div class="field-row">
						<div class="option opt-group">
							<span class="label">Depth</span>
							<span class="value">
								<ul class="opt-group">
									<li class="active">8 Bits</li>
									<li>16 Bits</li>
								</ul>
							</span>
						</div>
					</div>

					<div class="field-row">
						<div class="option opt-group">
							<span class="label">Byte Order</span>
							<span class="value">
								<ul class="opt-group">
									<li class="active">12-34</li>
									<li>34-12</li>
								</ul>
							</span>
						</div>
					</div>
				</div>

				<div class="format-options" data-format="emf">
					<div class="field-row">
						<div class="option input">
							<span class="label">Pages</span>
							<span class="value">
								<input type="text" name="quality"/>
							</span>
						</div>
					</div>

					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Quality</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="100" value="70%" data-default="70%" data-suffix="%"/>
							</span>
						</div>
						<div class="knob" data-value="70"></div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-15">
								<i></i>
							</span>
							<label class="label" for="check-15">Reverse Pages</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-17">
								<i></i>
							</span>
							<label class="label" for="check-17">Rasterize All</label>
						</div>
					</div>

					<div class="field-row has-check">
						<div class="option check">
							<span class="value">
								<input type="checkbox" id="check-16">
								<i></i>
							</span>
							<label class="label" for="check-16">Vectorize Text</label>
						</div>
					</div>

					<div class="field-row has-knob">
						<div class="option input">
							<span class="label">Add Margin</span>
							<span class="value">
								<input type="text" name="quality" data-min="0" data-max="5" value="0in" data-default="0in" data-suffix="in" data-step="0.05"/>
							</span>
						</div>
						<div class="knob" data-value="0"></div>
					</div>
				</div>

				<div class="format-options empty" data-format="dxf">
					No options for filetype DXF
				</div>

			</div>
			<div class="buttons">
				<div class="button" data-click="dlg-cancel">Cancel</div>
				<div class="button" data-click="dlg-save">Save</div>
			</div>
		</div>
	</div>
</div>
