<div class="dialog-box" data-dlg="dlgFileInfo">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				File Info
			</h2>

			<div class="fi-list">
				<div class="list-head">
					<div class="row">
						<div>Parameter</div>
						<div>Value</div>
					</div>
				</div>
				<div class="list-body">
					<!-- preset layer list goes here -->
					<div class="row">
						<div>Artist</div>
						<div>Hakan Bilgin</div>
						<div>
							<i class="icon-trashcan" data-click="remove-layer"></i>
						</div>
					</div>

					<div class="row">
						<div>Copyright</div>
						<div>mr.hakan.bilgin@gmail.com</div>
						<div>
							<i class="icon-trashcan" data-click="remove-layer"></i>
						</div>
					</div>

					<!-- add more layers -->
					<div class="add-row" data-click="add-layer">
						<i class="icon-add-layer"></i>
						Add Value
					</div>
				</div>
			</div>

		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-save">Save</div>
		</div>
	</div>
</div>
